[2013-04-04 01:40] ChaseBro opened #1 "Checkin controller/view"
Need a form to checkin tools. Should automatically find the most recent checkout and give a small error if the tool is not currently checked out. Should then be inserted as a link on the tool checkout view page.

[2013-04-04 01:45] ChaseBro opened #2 "Participant creation form"
Need a workflow to create participants. Should be:
1. Prompt for id card (potentially allow a backup type in andrewid)
2. Perform a LDAP lookup and display the info for confirmation
3. Present a list of organizations and allow the user to pick at least one, potentially more
4. Show a final screen confirming everything and asserting that a waiver must have been signed.

[2013-04-04 01:47] ChaseBro opened #3 "Task List for Coordinator"
Should provide a list of what needs to be accomplished in the next hour/two hours. Should have the option to mark a task as completed and potentially who completed them.

[2013-04-04 01:52] ChaseBro opened #4 "Participant views - Show, edit, etc."
Should show a general idea of what the participant has contributed including:
- Org Memberships
- Tool Checkouts
- Charges Signed for
- Watch Shifts Attended

[2013-04-05 21:18] ChaseBro opened #5 "Check In/Out Shifts"

[2013-04-05 21:18] ChaseBro opened #6 "Search for a person to see if they have signed a waiver"

[2013-04-05 21:19] ChaseBro opened #7 "Booth Chair ordering"
Be able to order booth chairs within an org.

[2013-04-05 21:19] ChaseBro opened #8 "Hi Kelly and Meg and Hank and Gasbarro"

[2013-04-05 21:20] ChaseBro opened #9 "Coordinator FAQ"

[2013-04-05 21:22] ChaseBro opened #10 "Link to message the "I'm Confused" group"
Should email/message:
- Emily
- Kelly
- Hank
- Other - Ask Hank - a dlist exists

[2013-04-06 16:05] #8 closed, assigned to kellyhope

[2013-04-10 05:18] #7 closed, assigned to nobody

[2013-04-13 08:48] #2 closed, assigned to merichar

[2013-04-13 08:48] #4 closed, assigned to nobody

[2013-12-08 20:52] #9 closed, assigned to nobody

[2013-12-08 20:52] #5 closed, assigned to nobody

[2013-12-08 20:52] #1 closed, assigned to merichar

[2013-12-08 20:53] ChaseBro opened #13 "Migrate RSpec functional tests to Minitest"

[2013-12-08 20:56] ChaseBro opened #14 "Detect when someone is manually entering data"
If someone is manually entering either participant data or barcodes extra confirmations should display.

[2013-12-08 20:57] ChaseBro opened #15 "Create Coordinator Dashboard"

[2013-12-08 20:57] ChaseBro opened #16 "Mobile Optimize select portions of site"
Potentially we could do a reactive layout, but this needs to be investigated.

[2013-12-08 20:59] ChaseBro opened #17 "Fix Deploy Script"
Sorry it's broken, it's at least partially my fault. Also, you should make sure to enable whatever database gems you need in production and move sqlite to development.

[2013-12-08 21:00] ChaseBro opened #18 "Integrate with Shibboleth"
This may already be almost done? There is a branch in boa which has some work on this. I assume we will need deployment working to make sure. Also we need to figure out how to fake logins for dev only.

[2013-12-08 21:08] ChaseBro opened #19 "Fix routes to be more compliant with Rails 4 best practices"
Currently all routes are accessible via both get and post, this isn't right.

[2013-12-09 06:24] ChaseBro opened #20 "Fix Checkouts controller"
Super broken, authorization was disabled and all the forms look like poopy.

[2013-12-09 07:14] #10 closed, assigned to nobody

[2013-12-10 04:50] ChaseBro opened #21 "Fix Membership Controller/Views"
Super broken, trying to do too much with participant creation

[2013-12-10 06:27] ChaseBro opened #22 "Remove Clocked_out_at from shift_participant"
I don't think it actually adds any value in terms of workflow. We care when they showed up, but we don't care when they leave unless it's too early or late, in which case there should be a charge or a note describing their good behavior, no ones going to look at this anyway, right?

[2013-12-10 06:28] ChaseBro opened #23 "Change TaskStatus to simple boolean (completed)"
Current system is needlessly complex.

[2013-12-10 06:29] ChaseBro opened #24 "Create Waiver Signing Workflow/Wizard"
Has to be at least as good as last year

[2013-12-10 06:36] ChaseBro opened #25 "Add fields to Documents for ability checking"
Probably:

is_public
is_booth_chair_accessible
organization

If it's public than anyone can see it, if it's booth_chair_accessible then all booth chairs can see it, if it's just tagged with an org than only that org can see it. (Not sure about SCC, we may want to use Titles in SCC as roles for plans so that people on midway/P&S can see booth plans but not everyone in SCC

[2013-12-10 10:25] ChaseBro opened #26 "Replace Ability Blocks with Hash Conditions/Scopes"
Would make pagination work and speed up things

https://github.com/ryanb/cancan/wiki/Defining-Abilities#hash-of-conditions

[2013-12-15 20:23] ChaseBro opened #28 "Make Partials on Org Show Page Ajax"
The org show page is going to get SUPER slow once we start entering real data so at least some of those partials (members and shifts especially) should really be loaded on ajax.

[2013-12-15 20:24] ChaseBro opened #29 "Make Shift Participant Workflow Restful"
Currently there are weird routes, it should just be a restful call to a nested resources under shifts (shifts/X/participants/...)

[2013-12-15 20:25] ChaseBro opened #30 "Make it not look like butt"
Fix all the colors and logos and such to comply with SCC overall look and feel.

[2013-12-16 08:33] minigeek opened #31 "Add foreign keys?"
https://github.com/matthuhiggins/foreigner
and
https://github.com/jenseng/immigrant

Should improve both data quality (not by much) and increase query speed (again, also not by a ton but could be nice). Really though I just don't trust the whole Rails thing about having the schema in the models.

[2013-12-16 09:28] ChaseBro opened #32 "Fix Task controller/model so you can't be completed without a person and visa versa"

[2013-12-18 07:24] #29 closed, assigned to nobody

[2013-12-18 07:25] #23 closed, assigned to nobody

[2013-12-18 07:28] ChaseBro opened #33 "Make custom input types for Participant and Tools using AJAX for use with Simple Form"
Should accept barcode for tools and cardnumber or andrewid for participants and then load info using AJAX (for visual confirmation that everything worked and error handling [missing person/tool]).

https://github.com/plataformatec/simple_form#custom-inputs

[2013-12-20 00:09] rjc210 opened #34 "Make better dashboards based on abilities"
Admin dashboard should see all relevant information. SCC dashboard should be thought of as coordinator dashboard (tasks, quick tool checkout, big buttons to get to major features, etc.). Booth chair dashboard should potentially just automatically direct them to their org page?

[2013-12-20 00:21] rjc210 opened #35 "Add a button to access fines"
Need to add a button to access fines in top nav.

[2013-12-20 00:22] rjc210 opened #36 "Auto populate charge amount based on type"
Auto populate fine amount based on type selection (ajax?). Clients wanted the charge types to be specific enough that you could select a type and it would correspond to an amount.

[2013-12-20 00:23] rjc210 opened #37 "Fine approval"
Add feature where fines go through a final approval step before they become final and visible to booth chairs. This is up for debate but is something that a number of people saw value in potentially adding.

[2013-12-20 00:28] rjc210 opened #38 "Add weather widget to home dashboard"
Cool feature that was discussed but outside of the scope of our project. Weather would be displayed within the app on the home dashboard so that the coordinator wouldn't have to watch weather separately to track storms.

[2013-12-20 00:34] rjc210 opened #39 "Add a way to track plans and approvals"
Add a feature where you can track an org's plan's progress through approval processes before build week as well as during build week. Suggestions for how this should be implemented are welcome.

[2013-12-20 00:40] rjc210 opened #40 "Embed Security Camera View in Binder"
Dashboard should show security camera feeds Part of #15

[2013-12-20 00:45] rjc210 opened #41 "Make model for downtime"
To enable orgs to track downtime and coordinators to be able to look it up more easily.

[2013-12-20 00:48] rjc210 opened #42 "Create a status bar for current coordinator"
Status bar on every page for current coordinator with information on current shifts, tasks, and link to downtime tracker

[2013-12-30 23:50] #39 closed, assigned to nobody

[2013-12-31 00:04] #22 closed, assigned to nobody

[2014-01-01 22:47] #25 closed, assigned to nobody

[2014-03-11 07:31] #41 closed, assigned to nobody

[2014-03-11 07:31] #37 closed, assigned to nobody

[2014-03-11 07:31] #35 closed, assigned to nobody

[2014-03-11 07:31] #30 closed, assigned to nobody

[2014-03-11 07:32] #20 closed, assigned to nobody

[2014-03-11 07:32] #6 closed, assigned to nobody

[2014-03-11 07:32] #16 closed, assigned to nobody

[2014-03-11 07:32] #17 closed, assigned to merichar

[2014-03-11 07:32] #18 closed, assigned to merichar

[2014-03-11 07:32] #21 closed, assigned to nobody

[2014-03-11 07:33] #19 closed, assigned to nobody

[2014-03-11 07:34] ChaseBro opened #43 "Checkouts should only be "Issued By" someone in SCC."

[2014-03-13 06:28] #24 closed, assigned to merichar

[2014-03-18 19:49] ChaseBro opened #44 "Add Short_name to org form"

[2014-03-18 19:50] ChaseBro opened #45 "Filter Orgs on Charges Form"

[2014-03-20 21:38] #44 closed, assigned to nobody

[2014-03-20 21:38] #43 closed, assigned to nobody

[2014-03-24 22:53] #45 closed, assigned to nobody

[2014-03-26 08:31] minigeek opened #46 "Color shifts based on future, current, and past"

[2014-03-26 08:31] ChaseBro opened #47 "Use partials instead of all the custom rendering in indexes"
Will allow updates made for things like shifts to carry over to org pages and elsewhere, not to mention allow caching.

[2014-03-27 16:27] rjc210 opened #48 "Booth chair should not be able to clock people in for shifts"

[2014-03-27 16:28] rjc210 opened #49 "Booth chair should be able to view own hardhats"
Current behavior: "You are not authorized to access this page."

[2014-03-27 17:31] rjc210 opened #50 "Fix emergency shutdown procedures"
ESP are useless now. Was a placeholder. Can we either remove this entirely or just make it link to the severe weather guidelines somehow? I uploaded those to the documents section for SCC to see, and that's more legitimate and useful than the emergency shutdown procedures page that currently exists.

[2014-03-27 17:44] rjc210 opened #51 "FAQ privileges"
Only SCC level and above should see FAQs. Intended for coordinators, not booth chairs or regular members.

[2014-03-27 17:52] rjc210 opened #52 "Add help tips on new charge form page"
What each charge equals (from T&C), for example

[2014-03-27 19:03] #52 closed, assigned to rjc210

[2014-03-27 20:33] rjc210 opened #53 "Search partially broken"
Searching exact match for andrew id or card or alias works as expected. Longer strings that aren't direct matches result in sorry but something went wrong minion page. Example: "tickets".

[2014-03-27 20:46] #53 closed, assigned to ChaseBro

[2014-03-27 21:02] #51 closed, assigned to ChaseBro

[2014-03-27 21:17] rjc210 opened #54 "Documents upload weird print behavior"
When Emily uploads certain documents, they automatically prompt printing. Some also say something about some acrobat error. Others are fine. Any document I've ever uploaded has been fine. (All PDFs btw)

[2014-03-28 01:45] #49 closed, assigned to ChaseBro

[2014-03-28 16:16] mhankowsky opened #55 "Admin Can't delete charges."

[2014-03-28 20:57] rjc210 opened #56 "Issued to charge form field ajax broken"
Issued to is not displaying participant when you click out of the box. Issued to is not saved upon charge creation.

[2014-03-28 20:57] rjc210 opened #57 "Charge form issued by drop down should be restricted to SCC"

[2014-03-29 07:40] #3 closed, assigned to ChaseBro

[2014-03-29 07:40] #14 closed, assigned to nobody

[2014-03-29 07:40] #32 closed, assigned to nobody

[2014-03-29 07:40] #33 closed, assigned to nobody

[2014-03-29 07:40] #55 closed, assigned to nobody

[2014-03-29 07:40] #57 closed, assigned to ChaseBro

[2014-03-29 07:43] #48 closed, assigned to ChaseBro

[2014-03-29 18:14] #50 closed, assigned to ChaseBro

[2014-03-29 18:15] #13 closed, assigned to nobody

[2014-03-29 22:11] ishboo opened #58 "Test!"
I CAN DO GITHUB

[2014-03-29 22:11] #58 closed, assigned to nobody

[2014-03-30 22:43] ishboo opened #59 "View subset of tools with more information"
i.e. I wanted to see a list of everyone who checked out a committee hard hat but the search just returns the list, not with any checked out information. So maybe the search results have that information or there is something we can do in the tools section.

[2014-03-30 22:45] ishboo opened #60 "View tools per person"
Is there a way to see is John Smith has anything checked out? Even if it is checked out under an org? I wanted to see if Dustin checked out a hard hat but there is no easy way of doing that.

[2014-04-02 05:53] #60 closed, assigned to nobody

[2014-04-02 05:53] #42 closed, assigned to nobody

[2014-04-03 02:13] ishboo opened #61 "Queues"
Can the descriptions be editable?

Can the descriptions be mandatory?

Can they be re-arrangable?

[2014-04-03 02:17] #56 closed, assigned to ChaseBro

[2014-04-06 19:43] ishboo opened #62 "Can the charge creator be displayed?"
Someone has been issuing electrical charges "by dan" but doing a bad job describing them. I really think we want to see who created them.

[2014-04-11 03:43] elenakarras opened #63 "Excessive Downtime Bug"
When an org goes over the four hours of down time the "Remaining" column shows weird things instead of the time they've gone over as negative.

[2014-04-17 04:18] #63 closed, assigned to nobody

[2014-04-17 04:19] #62 closed, assigned to nobody

[2014-04-17 04:19] #61 closed, assigned to nobody

[2014-04-17 04:19] #59 closed, assigned to nobody

[2014-04-17 04:20] #34 closed, assigned to nobody

[2014-04-17 04:20] #15 closed, assigned to nobody

[2014-04-17 04:20] #28 closed, assigned to nobody

[2015-02-24 08:01] minigeek opened #64 "Update FAQs in the Seed"
https://github.com/sc0v/binder-app/blob/master/db/seeds.rb#L208

I already updated them to the best of my knowledge and replaced names, but I don't actually know if all the answers are the same this year.

[2015-02-24 08:03] minigeek opened #65 "Update Tasks in the Seed"
https://github.com/sc0v/binder-app/blob/master/db/seeds.rb#L356

I updated the one-time tasks (which need to be updated based on the schedule) but we need to update the recurring ones as well with new info (and I suggest my new format to make it easier next year).

[2015-02-24 08:04] minigeek commented on #31
Done automatically now!

[2015-02-24 08:04] #31 closed

[2015-02-28 04:12] csweintraub commented on #64
The answers are all of the same. I will get you info about rides ASAP as Swank's went out of business 1 month ago so we are waiting to get bids back. I should be able to get you that info in a few weeks as we aim to decide on a vendor this week.

In terms of the names, the seed file is still showing Emily, Jackson and Rachel's names. Have you just not pushed your changes?

[2015-02-28 04:15] minigeek commented on #64
Yeah, I need all your SCC members including yourself for admins, hadn't
gotten that far and that is easy to do later. I just meant FAQs which
should be all good now and shifts and such that I need to script and import.
On Fri, Feb 27, 2015 at 8:12 PM csweintraub <notifications@github.com>
wrote:

[2015-03-01 20:15] csweintraub commented on #64
They're all good.

[2015-03-01 21:05] minigeek commented on #64
Ok, thanks!

[2015-03-01 21:05] #64 closed

[2015-03-02 16:31] csweintraub commented on #65
We want the same recurring tasks as last year. Do you just mean to re-do the dates?

[2015-03-02 18:33] minigeek commented on #65
Yep, you can use the format I used for the "one time tasks" of day (defined
above) + hours. It will show up some number of hours beforehand.
On Mon, Mar 2, 2015 at 8:31 AM csweintraub <notifications@github.com> wrote:

[2015-03-03 04:45] csweintraub commented on #65
Pushed.

Just a heads up that I was re-reading the FAQ and I didn't catch that fireworks will either be Thursday or Saturday this year depending on whether or not the city gives us clearance to hold fireworks over Midway. I will be getting that result tomorrow and will let you know.

Also, as of today, the awards ceremony is starting at 4:30. I can make both changes to the FAQ once I get for sure

[2015-03-03 04:45] #65 closed

[2015-03-07 21:40] #46 closed

[2015-04-04 05:30] nharper opened #66 "Potential DoS when searching for a single character"
On the home page, when searching with a single character term (e.g. "a"), the server takes a long time to respond (I crashed binder.springcarnival.org earlier today with this query). On a dev instance on my desktop, the search did respond after about 10 seconds; the time appeared to be spent mostly doing ldap searches and updating the cache columns in the participants table. The ldap searches and

[2015-04-04 05:31] nharper opened #67 "Milestones page displays last year's information"
/milestones shows the milestones for last year, not this year.

[2015-04-04 05:35] nharper opened #68 "FAQ link on homepage goes to a "Not Authorized!" page"
When a user is not logged in, there is a "Frequently Asked Questions" button on the homepage, but clicking on it takes the user to a page that just says "Not Authorized!". Either the button should be removed from the homepage, or a logged-out user should be able to view the FAQs.

[2015-04-04 05:45] nharper opened #69 "What search functionality should work when logged out?"
By searching for something like "a" (and then iterating through all vowels), one can pretty easily get a list of all participants, tool checkouts, organizations, etc. Should this information be visible to a logged-out user (or other logged-in users)?

[2015-04-04 06:02] nharper opened #70 "Code smell with "Not Authorized!" checks in views"
I noticed the following pattern in some of the views:

[code]

Access checks like this should probably be done in the controller instead of in the view.

[2015-04-06 05:50] minigeek commented on #70
I started to fix this, this was from the IS team that added CanCan so that we could open it up to non-scc. I fixed all of them that I noticed but missed a couple

[2015-04-06 05:51] minigeek commented on #69
This is a bug, we pretty much totally locked the site when you're logged out. Most of the links don't work and should be removed when logged-out, haven't gotten around to it.

[2015-04-06 05:51] minigeek commented on #68
Agreed.

[2015-04-06 05:51] minigeek commented on #67
This is just a static html page, @csweintraub can you update this?

[2015-04-06 05:53] minigeek commented on #66
This is just because we are scripting people into the db. This is cached in the db directly so this cost is a one-time issue. If you refresh the page a second time it should load instantly.

[2015-04-06 05:53] minigeek commented on #54
Oh god, this was Steve's code, I never really understood how that worked... Is this still broken Rachel?

[2015-04-06 07:01] minigeek opened #71 "Required Youtube Video doesn't work at all on mobile which means you can't sign on mobile."
This seems like SUPER silly. What exactly is the goal of this beyond everyone hating us? We have no requirements to do this level of "training" and no one's going to watch anyway, it will just make it impossible to move people through the line as we have 100 people milling about ignoring their phone (assuming we can actually get it to work on mobile. Thoughts @csweintraub

[2015-04-06 07:06] merichar commented on #71
This version is for before they're standing on line, but I don't make the requirements, I just implement them. Also, works on mobile for me. What are you seeing in iOS?

[2015-04-06 07:07] minigeek commented on #71
Just a black box

[2015-04-06 07:09] minigeek commented on #71
And why is there a second version? Is the video important or no? If you can sign it without watching the video but there is a video that somepeople were required to watch then you're literally asking to get sued. This should be taken to LCA if you are messing with the waiver (which you effectively are by making people sign that they watched the movie).

[2015-04-06 07:16] merichar commented on #71
Score one for FF on android.

I'm not a legal expert, but it seems there are issues if you're willing to sign that you watched a movie after not having watched the movie.

Version that committee will use to have people sign waivers (instead of people self-signing) doesn't have the video embedded because the video will be looping in Wean Commons.

[2015-04-06 07:18] minigeek commented on #71
Then we're directly modifying the waiver and should get it approved by LCA.
My point was that we're either modifying it and should get approval, or
we're not and shouldn't do it. As is we should get approval (imho).
On Mon, Apr 6, 2015 at 12:16 AM Meg Richards <notifications@github.com>
wrote:

[2015-04-06 07:28] merichar commented on #71
I'm just the code monkey; you'll have to wait for Carrie to get the real answer, but I assume she and Tim did run whatever changes they made past some reasonable entity.

[2015-04-06 12:10] csweintraub commented on #71
Tim and I chatted about this, he approved it and aid we didn't need to get Legal involved. I asked him specifically about that. EH&S has signed off on it and all appropriate stakeholders have watched and reviewed it.

In terms of the video working on mobile, if that is what we are talking about on this issue, its minor. It doesn't matter and worse comes to worse, we can ask all chairs to not let t

[2015-04-06 12:12] csweintraub commented on #67
Got it. Also, can I update the FAQs and contact info?

[2015-04-06 12:15] csweintraub opened #72 "Clearing org statuses"
People can still see Org statuses from last year, for instance, AXO's electrical needs to be clear. I cannot see this but everyone on Exec can.

[2015-04-06 12:15] csweintraub opened #73 "Clearing org statuses"
People can still see Org statuses from last year, for instance, AXO's electrical needs to be clear. I cannot see this but everyone on Exec can.

[2015-04-06 12:15] #73 closed

[2015-04-06 12:21] csweintraub opened #74 "Migrating in New Members + Booth Chairs"
Last year's chairs are still displayed. This is clearly an issue I don't need to explain.

[2015-04-06 14:59] csweintraub opened #75 "Waiver doesn't work when not signed in"
Waiver button is avaialble when not signed in so it errors. I will go in and take this out of the view.

[2015-04-06 15:01] csweintraub opened #76 "List of cell phone characters goes on forever"
Self explanatory. Please fix.

[2015-04-06 15:02] flybye22 commented on #75
This worked just last night, something recent must have broken it.

[2015-04-07 00:29] csweintraub opened #77 "Access Issues"
SCC should be able to view all phone numbers, tool checkouts and waiver stauses for all orgs.

Booth Chairs should be able to view the cell phone numbers, tool checkouts and waiver statuses for their org only.

General members should be able to view cell phones for their org only.

[2015-04-07 00:33] csweintraub opened #78 "List of Builders, Booth Chairs and SCC Members"
Page to spit out CSV of these three lists for CMU alert system. I just need the category of the list and all of the andrew ids associated with the category.

[2015-04-08 03:55] #75 closed

[2015-04-08 03:55] #74 closed

[2015-04-08 03:55] #67 closed

[2015-04-08 03:57] #76 closed

[2015-04-13 22:05] minigeek commented on #77
The SCC stuff is working.

Booth chairs can currently see all numbers (made more sense when only chairs had numbers, so that they could get in contact with chairs from other orgs) are we sure we want to remove this access for them? Or can we just allow them to see numbers of people who are chairs in some org?

Members can currently only see their own phone number (they should have the number of th

[2015-04-13 22:08] #72 closed

[2015-04-13 22:13] #69 closed

[2015-04-13 22:14] #66 closed

[2015-04-13 22:16] csweintraub commented on #77
No, keep the access as we have it now. Rigth now everything is good.

[2015-04-13 22:16] #77 closed

[2015-04-13 22:21] #68 closed

[2015-04-14 22:53] csweintraub opened #79 "Status + Cell Phone"
Should be able to view cell phone numbers + org status

[2015-04-14 22:55] merichar commented on #79
Who should?

[2015-04-14 22:59] csweintraub commented on #79
Chase has it.

[2015-04-23 21:05] merichar opened #80 "Checkout multiple tools"
Shopping cart style?

[2015-04-23 21:06] merichar opened #81 "Checkout Tool as Replacement"
Like for batteries. Just for an org to do a trade.

[2015-04-23 21:07] merichar opened #82 "Tool History"
Display tool checkout history (already actually stored as Checkout)

[2015-04-23 21:10] merichar opened #83 "List booth chair phone number with shifts"
So it's easy to find when the shift doesn't show

[2015-04-23 21:11] merichar opened #84 "Text booth chair before shift if no one checked in"
Worth consideration.

[2015-04-23 21:16] merichar opened #85 "Note taking"
Maybe incorporate an iframe to a google doc or post-it feature

[2015-04-23 21:17] merichar opened #86 "Put BIRs online"
Otherwise order more pads.

[2015-04-23 21:18] merichar opened #87 "Watch shift draw on binder?"
Or just something to make the excel import less painful.

[2015-04-23 21:19] merichar opened #88 "Embed Weather Info in Binder"
Use the WeatherSentry API to pull weather info and put it on the Binder dashboard.

[2015-04-24 15:50] merichar opened #89 "Embed Golf Cart GPS in Binder"

[2016-01-24 19:37] pkoenig10 commented on #38
Duplicate of #88

[2016-01-24 19:37] #38 closed

[2016-01-24 19:41] pkoenig10 commented on #86
Organizations already have a status field.  Basically extend this status field to support a history of statuses/reports.

[2016-01-24 19:43] arakla commented on #86
I believe there should already be a way to view the status history of an
org, we just need to be able to add different statuses and use the notes
more I think.

Aamer F. Rakla
B.H.A. Information Systems & Drama: Production and Stage Management
Carnegie Mellon University, 2016

Boss Ambassador (Mentor), Student Life Office
Financial Advisor, Student Dormitory Council
Treasurer, Spring Carnival Comm

[2016-01-24 19:43] minigeek commented on #86
This was a somewhat separate thing when BIR's were more granular, if they
aren't giving BIR's for individual screws (it actually happened many times
at one point) then you're totally right the status field is good enough.
There's actually already status history from the org's page if that
satisfies your requirements.
On Sun, Jan 24, 2016 at 11:41 AM Patrick Koenig <notifications@github.com>
wrote:

[2016-01-24 19:46] pkoenig10 commented on #86
Cool.  Then I'll just add more types to suit our needs.

[2016-01-24 20:37] #86 closed

[2016-01-24 20:41] #79 closed

[2016-01-24 20:42] pkoenig10 commented on #83
It takes one click to get to the organization page and see the phone numbers.

[2016-01-24 20:42] #83 closed

[2016-01-24 20:53] #54 closed

[2016-01-24 20:56] pkoenig10 opened #90 "Add Documents tab to organization page"
Binder already supports uploading documents and associating them with an organization.  We should be able to view those documents from the organizaiton pages.

[2016-01-24 21:14] pkoenig10 commented on #85
Should be similar to current tasks page.

[2016-01-24 21:16] pkoenig10 opened #91 "Checkin multiple tools"
See #80

[2016-01-24 21:17] minigeek commented on #87
Btw, I have a c# script which will auto-assign watch shifts based on preferences if you want it.

[2016-01-24 21:19] #91 closed

[2016-01-24 21:20] pkoenig10 commented on #80
Binder supports checking in multiple tools with the Rapid Tool Check-In sidebar.  We should make something similar for checking out tools.

[2016-01-24 21:21] pkoenig10 commented on #81
Implement as a side bar, similar to the Rapid Tool Check-In sidebar.

[2016-01-24 21:27] pkoenig10 commented on #78
This can be done using the Rails dbconsole.

[2016-01-24 21:29] minigeek commented on #78
I think the idea is that there is a number of these kinds of things that we could script and then just throw together onto a "tools" page accessible only by admins to make these things easier and more repeatable year to year (and so fewer things require the console).

[2016-01-24 21:31] minigeek opened #92 "Stop checking people's info into the repo"
Currently we populate the db by having all of SCC's and all the booth chair's info in the populate file which is super not nice to have all these phone numbers in the repo. This would be much better if it could populate from an external file or db such as a google doc or something which is easier to build in the first place rather than an actual rails code file.

[2016-01-24 21:32] minigeek commented on #78
You're welcome to leave it closed, I'm just trying to provide history as I see you commenting. You own this so ultimately any decisions are up to you, I'm just here to help you out.

[2016-01-24 21:34] pkoenig10 commented on #78
Yeah I'm just getting things organized before the student team takes over this week.  Mostly thinking about what features we want and what features might be outside the scope of Binder.

[2016-01-25 00:24] pkoenig10 opened #93 "Participants can't view public documents"

[2016-01-25 00:29] arakla commented on #92
Another alternative is if we could see if we could get permissions for the student data warehouse. http://www.cmu.edu/es/sdw/

However, we would probably need to work with DOSA IT on that.

[2016-01-25 00:35] arakla commented on #86
That being said, maybe we should look at having it improved, so it's an actual workflow/order so that certain steps/statuses can't happen without others being done. It would also make sense to integrate this with plan reviews, in my opinion.

We should also have it only display the current academic year and be able to view previous years separately.

[2016-01-25 00:36] arakla commented on #83
That being said, when you have a lot going on, or a coordinator who is new, sometimes a small thing like this is helpful. That being said, if binder could auto-notify the chairs, that would be great.

[2016-01-25 00:50] pkoenig10 commented on #83
There's a separate issue for that, #84.

[2016-01-25 18:36] pkoenig10 opened #94 "Support CMU ID NFC for field entry"
Functionality should be identical to magstripe reading.  Will need to add card ID info to database.  Waiting on Meg to determine how we will be getting the card ID data.

[2016-01-25 18:45] pkoenig10 opened #95 "Add images to tools"
#100 needs to be done first.

[2016-01-25 18:56] pkoenig10 opened #96 "Add notes to tools"

[2016-01-25 19:47] pkoenig10 opened #97 "Fix Downtime page"
Currently the downtime page doesn't pull any results.  We should discuss possible changes to the downtime workflow in Binder.

[2016-01-25 20:02] pkoenig10 opened #98 "Improve status workflow"
Discuss improving/extending the status feature to have an actual workflow/order so that certain steps/statuses can't happen without others being done. It might also make sense to integrate this with plan reviews.

[2016-01-25 20:03] pkoenig10 commented on #86
I don't think Binder needs to be something that maintains info across years.  Its isn't necessary for how its used and it wasn't really designed with that in mind.

But I agree that we could improve and integrate statuses more.  I've opened at new issue #98.

[2016-01-25 20:14] pkoenig10 commented on #92
The problem with SDW is that we only want info for booth participants.  We also need other info like their organization, phone number, etc.  Some of this may be filled in when waivers are submitted.

[2016-01-25 20:16] pkoenig10 commented on #92
We may want to stop checking in other unnecessary info in db/seeds.rb.  However keeping certain items updated, like tools, give us a snapshot of what the DB should if something goes bad and we need to reseed.  We should stick to removing info that will completely change every single year (like people's info).

[2016-01-25 20:24] arakla commented on #92
For student/people info, I was thinking we query the SDW or HRIS/Workday
for staff when the participant is created. Then we query the appropriate db
on a scheduled basis (nightly?) and just keep a cached copy of the data as
we already do with LDAP info.

As for orgs a member is part of, we should have a way for booth chairs to
submit the Andrew IDs for their members, either through a CSV or dashbo

[2016-01-25 20:24] pkoenig10 opened #99 "Who's On Midway page"
Create a Who's On Midway page where SCC members (maybe just booth committee) check in when they arrive to Midway.  Booth chairs can then easily check if someone is available.  Basically a replacement for the whiteboard in the trailer.

[2016-01-25 20:40] minigeek commented on #99
I agree this is a good idea, I would just hesitate to over-engineer
something which currently works really well already. In general if you're
looking for someone on booth committee your best bet is to just radio
asking for someone from booth committee. This has two advantages, namely
the HoB knows what all's going on if they pay attention to their radio, and
it lets people get into stuff knowing t

[2016-01-25 20:41] minigeek commented on #97
This may be due to config/lack of data. I believe that page only pulls data
from org's that have already taken some downtime rather than all org's (as
many org's will never take downtime or are incapable of it such as SCC).
On Mon, Jan 25, 2016 at 11:47 AM Patrick Koenig <notifications@github.com>
wrote:

[2016-01-25 20:41] minigeek commented on #96
Could this not just be part of the name/description?
On Mon, Jan 25, 2016 at 10:56 AM Patrick Koenig <notifications@github.com>
wrote:

[2016-01-25 20:50] pkoenig10 commented on #97
In my testing, I couldn't get any taken downtime to show.  This may just be more of an investigative task.

[2016-01-27 03:03] pkoenig10 opened #100 "Create tool_type to identify similar tools"
This needs to be done before #95 and #101.

[2016-01-27 03:04] pkoenig10 opened #101 "Create waitlist for tool_types"
#100 needs to be done first.

[2016-01-27 03:50] pkoenig10 opened #102 "Ability to generate reports"
https://github.com/tma1/dossier

Be able to quickly write configs to generate arbitrary reports.

Some example reports that would be useful:
- #78
- Carnival Closeout Reports (with charges, fines, tool notes, etc.)

[2016-01-27 03:50] pkoenig10 commented on #78
Included in #102

[2016-01-27 03:50] #78 closed

[2016-01-27 04:29] pkoenig10 opened #103 "Add model and controller for Milestones"

[2016-01-27 04:51] pkoenig10 opened #104 "Downtime and Queue sidebar buttons show error pages if no input"
Rapid Tool Check-In handles this correctly so look there for an example.

[2016-01-27 04:55] pkoenig10 opened #105 "Improve top level navigation"
We should somehow move most of the quick links into the navbar menu so they can be accessed anywhere.  Currently the navigation can be confusing.

Maybe think about if we need all the sections we currently have (Tasks, Milestones, etc.).

[2016-01-27 05:01] minigeek commented on #101
I feel like this should be on tool_types rather than specific tools.
On Tue, Jan 26, 2016 at 7:04 PM Patrick Koenig <notifications@github.com>
wrote:

[2016-01-27 05:03] arakla commented on #101
Perhaps we need overarching types, such as ladders, saws, cleaning items,
etc... And sub types/item groups such as 8ft ladders, brooms, magnetic
sweeps, etc...
On Jan 27, 2016 12:01 AM, "Chase Brownell" <notifications@github.com> wrote:

[2016-01-27 05:04] minigeek commented on #101
But what do we really need that many types for? Aren't they still usually
going to search? What problem would we be trying to solve?
On Tue, Jan 26, 2016 at 9:03 PM Aamer Rakla <notifications@github.com>
wrote:

[2016-01-27 05:06] pkoenig10 opened #106 "Finish implementing Tasks page"
This is mostly done.  We just need to
1. Add a link to the top-level navigation
2. Finish implementing the Tasks sidebar (partially done)

[2016-01-27 05:07] arakla commented on #101
If we have the wait list on type of tool, are we just having categories for
specific things like 8ft ladders, 12ft ladders, etc...? Or would it make
sense to have a type and sub type (I'm just making up potential edge
cases). Not saying we should go one way or another, just something to
consider.
On Jan 27, 2016 12:04 AM, "Chase Brownell" <notifications@github.com> wrote:

[2016-01-27 05:08] pkoenig10 commented on #101
@minigeek should've clarified I meant tool_types. @arakla I don't think we need subtypes.

[2016-01-27 18:52] #96 closed

[2016-01-28 23:33] pkoenig10 opened #107 "Add Judging Scores to Binder"
This has been started.  See the Judging branch.

[2016-01-31 01:58] pkoenig10 commented on #87
That would be really helpful.  Could you send it to me?

[2016-02-01 04:58] pkoenig10 opened #108 "Create more comprehensive testing"

[2016-02-01 23:33] pkoenig10 commented on #80
Put in sidebar alongside Rapid Tool Checkin.

[2016-02-01 23:33] pkoenig10 commented on #81
Put in sidebar alongside Rapid Tool Checkin.

[2016-02-01 23:43] pkoenig10 commented on #101
Things to consider:
- Notify when checking out tool when waitlist is not empty
- Notify when checking in a tool with a waitlist
- Do we want a central place to view all waitlists? (Probably not)

[2016-02-01 23:44] pkoenig10 commented on #101
Waitlist for each tool type will be listed on each page for the tool of that type.

[2016-02-03 01:04] minigeek commented on #87
It's already checked in as shift_picker.rb

On Sat, Jan 30, 2016 at 5:58 PM Patrick Koenig <notifications@github.com>
wrote:

[2016-02-03 22:18] purelogiq commented on #100
I've been thinking about this issue recently. Is there any value in having "tool types" in addition to "tool name"? Checkout can look at `binder-app/db/tool_seed.rb` to see what I mean.

Maybe this problem can be solved by just thinking differently about tools. We want to be able to identify an individual tool as well as a category of tools. I feel that a the "name" field in the tool model should

[2016-02-03 22:27] purelogiq commented on #100
Or alternatively move the name field to the new tool type model so that there isn't the confusion between seeing both the tool name and tool type have the same info, for example:

| barcode | name      | description    | type      |
|---------|-----------|----------------|-----------|
| 2       | SCC Radio | Motorola CP200 | SCC Radio |

[2016-02-03 22:47] minigeek commented on #100
I think that's fine, I would add a tool_type model with just a unique "name" column (and maybe a description, up to you) to enforce consistency (something I thought about doing before but never accomplished) and use "type" as the foreign key to that model

[2016-02-03 22:49] purelogiq commented on #100
Just be sure do you think removing the name field in tool is ok, since it would probably be duplicate of the type name?

[2016-02-03 22:50] minigeek commented on #100
Yeah, that's pretty much how we were using it before regardless, as you
correctly pointed out.

On Wed, Feb 3, 2016 at 2:49 PM Israel M <notifications@github.com> wrote:

[2016-02-03 22:51] purelogiq commented on #100
Will do

[2016-02-03 22:55] pkoenig10 commented on #100
I agree that we definitely want a `tool_type` model to ensure consistent naming.  And this can certainly replace name in the `tool` model.  We will just use the description for more specific information.

[2016-02-03 23:12] arakla commented on #100
Just a side note, this will probably affect how binder displays certain
tools such as hardhats and radios, but it should be a easy fix.
On Feb 3, 2016 5:55 PM, "Patrick Koenig" <notifications@github.com> wrote:

[2016-02-03 23:15] purelogiq commented on #100
Yea, I'll try to make this a comprehensive change and not just add the models.

[2016-02-09 00:39] pkoenig10 opened #109 "Allow admins to manually modify downtime"

[2016-02-14 08:16] RONNCC commented on #97
@pkoenig10  is this expected behavior? :) https://is67373-binder-app-ronncc.c9users.io/downtime

[2016-02-14 08:54] RONNCC opened #110 "Carnival_logo_nav.svg seems to be missing"
ActionController::RoutingError (No route matches [GET] "/images/carnival_logo_nav.svg"):

The image is just not there - what should be used as a nav logo?
@purelogiq  @pkoenig10

[2016-02-14 09:32] RONNCC commented on #93
Changed behavior so that participants can see all documents that are public or are assigned to an organization that they belong to.

Previous behavior was that a doc had to be public and either the organization was blank or they belonged to it

[2016-02-14 09:33] RONNCC commented on #93
Also fixed it so that it create the upload folder if it doesnt exist rather than erroring

[2016-02-14 09:35] RONNCC commented on #93
How to see the change:
1.go to https://is67373-binder-app-ronncc.c9users.io
2.signin as admin
3.upload a document to public documents
4. signout
5. signin as participant
6. look at documents
7. should be able to see your doc there

[2016-02-14 09:41] RONNCC opened #111 "Add an install.md to help with initial setup"
Add an install.md to help with initial setup/config for the app

[2016-02-14 10:07] RONNCC opened #112 "Bar underneath Rapid Tool Checkin to show checkouts doesnt do anything"
Image: http://i.imgur.com/rc1QbYk.png

Doesnt seem to actually show checked out tools or anything - is it just there cosmetically?

[2016-02-14 10:21] RONNCC commented on #112
You can see this change at https://is67373-binder-app-ronncc.c9users.io/ also

[2016-02-14 10:21] RONNCC commented on #112
Specifically looks like
![image](https://cloud.githubusercontent.com/assets/1313566/13033174/cae635fc-d2da-11e5-943a-ff023ea89008.png)

[2016-02-14 10:22] RONNCC commented on #97
Fix looks like:
![image](https://cloud.githubusercontent.com/assets/1313566/13033176/e96ade6a-d2da-11e5-8d76-
0fec4bf2d2f5.png)

[2016-02-14 10:23] RONNCC commented on #93
Fix looks like
![image](https://cloud.githubusercontent.com/assets/1313566/13033181/11851e56-d2db-11e5-8cfc-6e3c253a4db3.png)

[2016-02-14 10:24] RONNCC commented on #80
What would this look like? Should it be barcode too?

[2016-02-14 17:59] arakla commented on #112
I get the feeling it looks like this because the side bar items use the
same partial, I think.

Having a list of tools that are checked out, excluding org & SCC hardhats,
would be helpful, but will get too long for the sidebar.
On Feb 14, 2016 05:21, "sg" <notifications@github.com> wrote:

[2016-02-14 18:05] RONNCC commented on #112
I don't think any used that one? But please tell me if I caused unexpected behavior :-)

Also yup I was going to put a scrollbar on it

[2016-02-14 18:06] arakla commented on #80
This would be a side bar item that first takes an ID card or Andrew ID. You
would then verify the participant and need to select the org you are
checking the tools out for. Then scan all the barcodes. If a tool is
checked out, it should be checked in and then out to the new person/org.

Ideally, this should be able to be done for the sidebar or a tool checkout
page. Like, if I scan a tool, choose

[2016-02-14 18:07] arakla commented on #80
This is another thing where you would need to look at the workflow and see
what makes the most sense because currently the workflow is not intuitive.
On Feb 14, 2016 13:06, "Aamer Rakla" <arakla@andrew.cmu.edu> wrote:

[2016-02-14 18:10] arakla commented on #112
I think it'll be fine and we would need to look at it and see how we feel.
That being said, why do we need to select an org to check-in a tool?
Otherwise I think this looks pretty good.

One thing to potentially consider/discuss is combing the rapid tool
checkout/check-in.
On Feb 14, 2016 13:05, "sg" <notifications@github.com> wrote:

[2016-02-14 18:29] arakla commented on #97
This looks as expected in the dev version you are running. Although the
list of orgs should probably be building orgs only (in other words exclude
non-building orgs).

Non-building orgs can't take downtime because they don't have a booth.
On Feb 14, 2016 05:22, "sg" <notifications@github.com> wrote:

[2016-02-14 18:52] pkoenig10 commented on #110
It should be there, its checked into the repo in public/images/carnival_logo_nav.svg.

[2016-02-14 19:04] pkoenig10 commented on #111
I can take care of this.  I'm have to write a bunch of additional documentation for our VM, so this will go along with that.

[2016-02-14 19:09] pkoenig10 commented on #112
Can you explain what the original issue was? That bar was there as a horizontal divider for the table that would be shown as tools are scanned.

I don't think we need a scroll bar; as Aamer said, this list doesn't get very long.  And when we have a lot of items (mostly hardhats) its helpful to have that visual feedback of the list growing longer to ensure the item was actually scanned in.

I like

[2016-02-14 19:12] arakla commented on #112
Although, what might work better than two buttons after scanning would be
selecting checkout or check-in and then scanning the tool(s).
On Feb 14, 2016 14:09, "Patrick Koenig" <notifications@github.com> wrote:

[2016-02-14 19:14] pkoenig10 commented on #80
Here's what I was thinking.  We combine the rapid check-in/check-out side panel.  We add an additional "Check-Out" button next to the current "Check-In" button.  So the workflow would be the following.

1) The user scans a bunch of tools in the sidebar
2) The user selects "Check-Out"
3) the user is directed to the same page as in the current tool checkout workflow, to enter a users name and organi

[2016-02-14 19:18] pkoenig10 commented on #112
Agreed.  Two reasons I like this better are

1) We can provide better verification that the scanned tools are able to be checked in/out (because this logic is opposite for checkins vs checkouts).
2) This will declutter the sidebar, which is a currently is slight usability mess.

[2016-02-14 19:19] pkoenig10 commented on #80
See comment here: https://github.com/sc0v/binder-app/issues/112#issuecomment-183957939

[2016-02-14 19:22] pkoenig10 commented on #97
+1 for updating the list of orgs.

Also, I think it would be good to always show all building orgs in the table, even those that haven't taken downtime yet.

[2016-02-14 19:26] pkoenig10 commented on #93
I ran into some error pages when trying to upload or update a document.  The errors occurred when checking for or creating the upload directory.

[2016-02-14 19:31] arakla commented on #97
Also, side note for the sidebar, most actions, like creating downtime
entry, causes the entire page to refresh, something to look into is only
refreshing that section of the page using something, like AJAX. This would
greatly increase the efficiency of binder if certain things, like the nav
var weren't always reloaded.

I believe Prof H has AJAX examples in Arbeit.
On Feb 14, 2016 2:23 PM, "Patric

[2016-02-14 19:38] pkoenig10 commented on #97
To me this seems like a minor issue.  Lets punt this and not get it mixed up with the Downtime page issue.

[2016-02-14 19:50] minigeek commented on #97
This should also happen automatically in production thanks to rails.
On Sun, Feb 14, 2016 at 11:38 AM Patrick Koenig <notifications@github.com>
wrote:

[2016-02-14 20:56] pkoenig10 commented on #109
I'd like to expose the list of taken downtime periods to each organization's page.  This shouldn't be too difficult as all the information is stored as ```organization_timeline_entries```.

[2016-02-15 23:36] #110 closed

[2016-02-15 23:41] RONNCC commented on #112
sorry - my bad, i'll revert this!

[2016-02-16 00:16] #112 closed

[2016-02-18 23:32] kunalsin commented on #106
What exactly do you want to see for this issue? I can tackle it as it looks like its almost done

[2016-02-18 23:33] kunalsin commented on #105
Same thing here - if you could provide some more details on how you want this to look like - I can finish this off

[2016-02-18 23:37] arakla commented on #105
Unless Patrick had something in mind, I think this will involve doing some
user testing to see what would be best for different user types.
On Feb 18, 2016 6:33 PM, "kunalsin" <notifications@github.com> wrote:

[2016-02-18 23:49] RONNCC commented on #97
^ should be resolved by that

[2016-02-18 23:50] RONNCC commented on #97
![screenshot 2016-02-18 at 6 50 09 pm](https://cloud.githubusercontent.com/assets/1313566/13162091/7cddf3f6-d670-11e5-884d-a6c5fa1438e9.png)

[2016-02-19 00:07] RONNCC commented on #93
why would you have an empty organization for a document @pkoenig10 ?

[2016-02-19 00:10] minigeek commented on #93
We had empty organizations for truly public documents such as terms and
conditions. We also don't want to expose non-public docs to participants
ever, this was created for things such as fines which we wouldn't want to
expose to an entire org, versus public things such as designs which we
might want to expose to a whole org, but not to all people in all orgs.
On Thu, Feb 18, 2016 at 4:07 PM sg <no

[2016-02-19 00:20] RONNCC commented on #93
hmm i think this behavior was different from what is now expected?

e.g. "We also don't want to expose non-public docs to participants ever" is different? Please correct me if i'm wrong @pkoenig10  :)

[2016-02-19 00:23] minigeek commented on #93
You guys are welcome to change this logic, I was just trying to provide
context for existing behavior.

Additionally, by participant I meant "participants who aren't booth chairs"
shouldn't be able to see non-public docs.
On Thu, Feb 18, 2016 at 4:20 PM sg <notifications@github.com> wrote:

[2016-02-19 00:28] pkoenig10 commented on #105
This is something we should discuss in a meeting before we begin working on it.

[2016-02-19 00:41] RONNCC commented on #93
thank you :) sorry i meant to clarify if the old or the new behavior was to be preferred

[2016-02-19 01:17] pkoenig10 commented on #106
Currently the tasks page can viewed at /tasks.  Here a list of things Aamer and I came up with.

1. Add a tasks link to the top-level nav under "Other links"
2. Add a button to complete tasks on the tasks page, near the edit and delete buttons
3. Add a column to the tasks sidebar with a button to complete tasks (similar to the image below).

![image](https://cloud.githubusercontent.com/assets/5273

[2016-02-19 01:28] pkoenig10 commented on #106
Also make sure to checkout the code with f3a0cb2.  I made a small change to the sidebar behavior.

[2016-02-19 02:55] pkoenig10 commented on #93
Okay, sorry @RONNCC, I should have looked into this more thoroughly.  So it appears that originally the permissions were as follows:

Empty + Public = Everyone
Empty + Private = Admin
Org + Public = All participants in Org
Org + Private = Booth Chairs of Org

I have two minor concerns with this logic:
1) The designations are not entirely clear.  Especially if booth chairs are uploading documents,

[2016-02-22 14:26] pkoenig10 opened #116 "Add view for charge_type"
Just so we have a way to manage these types.  Should be viewable only by admin. Identical to tool_type page.

[2016-02-22 14:43] pkoenig10 opened #117 "Add view for organization_status_type"
Just so we have a way to manage these types. Should be viewable only by admin. Identical to tool_type page.

[2016-02-22 14:50] pkoenig10 opened #118 "Add index view for organization aliases"
Should be similar to organization status view.  There is a table with the alias and a delete button next to each one.  There should be a new button at the bottom.

[2016-02-22 14:52] pkoenig10 opened #119 "Use green for flash messages with positive meanings"
Currently the color is red, which can be confusing for positive actions (create, update, etc.).

[2016-02-22 14:57] pkoenig10 commented on #118
When creating a new alias, the user should be redirected to the organization page, not this one.

[2016-02-22 15:01] #71 closed

[2016-02-22 15:02] #99 closed

[2016-02-22 15:05] pkoenig10 commented on #99
Using Binder is probably worse than using the whiteboard for the reasons above.  It also requires that SCC members check in/out when they arrive/leave the trailer, which is a hassle.

[2016-02-22 15:14] pkoenig10 commented on #107
After some discussion, we decided that it is best to continue using paper for judging.  However it would be nice to show the judging results on Binder.

[2016-02-22 15:20] #98 closed

[2016-02-22 15:21] #89 closed

[2016-02-22 15:23] pkoenig10 opened #120 "Add comments field for documents"
This should be similar to descriptions for other models.  This is necessary so we can use the Documents framework for plan submission/review in future years.  Booth chairs will upload plans and booth committee will add comments.

[2016-02-22 20:09] minigeek opened #121 "Hakiri is showing security issues because of out of date dependencies"
[https://hakiri.io/github/sc0v/binder-app/master](https://hakiri.io/github/sc0v/binder-app/master)

Most if not all of these are due to out-of-date dependencies, someone should update versions and make sure everything still works.

[2016-02-23 03:10] pkoenig10 commented on #121
Yeah I noticed this at the beginning of the year.  I'll have the student team work on that for this semester.

[2016-02-23 03:25] purelogiq commented on #121
This is one of my interests so I'll grab this. Hopefully updating gems won't break anything. (I'll make sure to do some regression testing)

[2016-02-23 03:28] pkoenig10 commented on #121
Let's just update Ruby + Rails + gems to the latest versions.  Some of the issues look like they are only resolved in beta versions of Rails 5.0, but I'd rather just stick to the latest stable releases.

This will also clear up all the dependency warnings in Gemnasium.

[2016-02-23 03:43] purelogiq commented on #121
Yea from the looks of it updating Rails to the latest 4x version, and Devise will take care of most of them. I will also double check the one with routes having :controller in them.
Doubt that I can do better than that, but, well see.

[2016-02-24 02:06] RONNCC commented on #93
updated #114  should have these permissions :)

[2016-02-24 03:45] RONNCC commented on #120
now you can edit/add comments - where should this show though? i.e. should it be a new column in the documents tracker/org tab? It seems like that could get very unwieldy if there are many comments

[2016-02-24 04:23] pkoenig10 commented on #120
Agreed. I was thinking that the comments would only be displayed in the show view for each document.

[2016-02-24 05:29] purelogiq commented on #120
Are these comments like "1 official comment" or a thread of comments like this issue page (doesn't have to be nested)?

[2016-02-24 05:38] pkoenig10 commented on #120
The intention is that it will be used as a place for both chairs to give feedback on both plans. So just a paragraph of text is fine.

[2016-02-24 05:50] purelogiq commented on #120
So right now of course booth chairs can't upload documents but in the future it is assumed they would be able to upload docs without being able to write in the comment field. Correct? Ronnie's current pull request is good if that's the case.

[2016-02-24 05:54] #97 closed

[2016-02-24 05:54] #93 closed

[2016-02-24 05:59] purelogiq commented on #120
Here's how it looks.
![doccomms](https://cloud.githubusercontent.com/assets/7828780/13276887/c799a53c-da91-11e5-80b7-fc7d062d29b4.PNG)

[2016-02-24 16:41] pkoenig10 commented on #120
So who has permission to write in the comments field? Just SCC members?

[2016-02-24 17:21] purelogiq commented on #120
Well right now only people who can make documents. Which is SCC members and admins. Even on the master branch I don't think booth chairs can create documents.

[2016-02-24 19:40] pkoenig10 commented on #120
After thinking about this for a little, I think it might be best if we drop this feature.  Originally my intention was to use this framework for reviewing booth plans.  However giving booth chairs permissions to upload document could lead to two issues.

1) They will likely abuse the privilege and upload garbage documents because they find it entertaining.
2) There will likely be instances where b

[2016-02-24 20:45] pkoenig10 commented on #109
The view already exists for this information.  The index view for organization_timeline_entries shows all the downtime entries (just not currently in routes.rb).

This task should also clean up the MVC for organization_timeline_entries.  Currently downtime is treated "specially" (as compared to structural and electrical entries) in the fact that the index views default to showing downtime.  We sho

[2016-02-24 20:55] purelogiq commented on #109
Quick question about downtime: do orgs have 4hr downtime for the entire duration of Carnival/building or just like each day?

Can you describe downtime again? Is it during the building phase or the actual Carnival phase?

[2016-02-24 21:03] minigeek commented on #109
Orgs get 4 hours total during operations (while Midway is open to the
public). They have to let the trailer know before they start taking
downtime and when they stop.

On Wed, Feb 24, 2016 at 12:55 PM Israel M <notifications@github.com> wrote:

[2016-02-24 21:06] arakla commented on #109
Also, downtime shouldn't continue once Midway closes, but should resume
when Midway opens if the Booth still isn't staffed.

Aamer F. Rakla
B.H.A. Information Systems & Drama: Production and Stage Management
Carnegie Mellon University, 2016

Boss Ambassador (Mentor), Student Life Office
Financial Advisor, Student Dormitory Council
Treasurer, Spring Carnival Committee

On Wed, Feb 24, 2016 at 4:03

[2016-02-24 21:23] purelogiq commented on #109
Does the app know when "Midway Closes" is? Or we will have to add that feature. If so I will open a new issue for that.

[2016-02-24 21:25] purelogiq commented on #109
Also @RONNCC the change in pull request #113 might have already fixed the downtime index page not working. Sorry for combining it into that PR.

[2016-02-24 21:26] pkoenig10 commented on #109
The app doesn't know the hours, but I'd rather it not because they change every year and it would be one more thing to update.  Being able to manually edit them should be sufficient.

[2016-03-02 03:24] RONNCC commented on #120
Ah - should we close this ticket then?

[2016-03-02 14:38] #120 closed

[2016-03-03 23:16] RONNCC commented on #90
change: remove the edit/delete/upload tab from the organization page

[2016-03-03 23:20] RONNCC commented on #109
be able to add downtime entries on the downtime page

[2016-03-03 23:21] RONNCC commented on #109
downtime remaining : 4 hours - if you click 4 hours it then goes to their page

[2016-03-03 23:24] RONNCC commented on #109
looks like status history page / tasks page with edit/delete/new

[2016-03-03 23:29] pkoenig10 commented on #116
Two final things:
1) Change link to edit button (like Tasks page)
2) Remove number of charges column

[2016-03-04 00:14] RONNCC commented on #87
if you are a booth chair for an org - there will be some way for you to select 1-5 or yes/no/maybe.

[2016-03-04 00:51] minigeek commented on #87
We did this via Google Form previously, @rjc210 can share it with you. I then manually created the arrays. It would also be great for all this functionality to be in the app.

[2016-03-04 00:55] pkoenig10 commented on #87
That is how we will be doing it this year.  My goal is to move this painful workflow into Binder in the least messy way possible.

[2016-03-04 00:57] arakla commented on #87
Patrick can correct me, but ideally this could be applied to any shift type
then, coordinator, watch, security, or anything else that comes up in the
future.

On Thu, Mar 3, 2016 at 7:55 PM, Patrick Koenig <notifications@github.com>
wrote:

[2016-03-04 01:00] minigeek commented on #87
Security is usually a little different, mainly because we pay them so we don't care as much about their preferences, but I totally agree. Also please feel free to build upon my algorithm. I had grand plans for simulated annealing originally, but usually enough people don't submit prefs that you don't actually need anything nearly that complex to get an optimal result.

[2016-03-04 01:13] pkoenig10 commented on #87
After meeting with the team today this task has two main components:
1) Allow bulk creation of shifts (ie, create X hours shifts from START to END)
2) Watch shift assignment.  This could later be extended to coordinator shift assignment if we think it is necessary.  I'm not entirely convince that whatever method we come up with is better than handling preferences off Binder and adding them later b

[2016-03-14 22:54] pkoenig10 opened #134 "Add remove button to store cart"

[2016-03-15 23:48] purelogiq commented on #102
I was just looking through #78 so that I can create some initial reports for this feature. I know about booth chairs and scc members, but, I was wondering what "Builders" are? Are they just all participants (or all other participants besides BC and SCC)?

Also would #78 be 1 report with 3 columns or 3 reports each with 1 column.

Lastly would you guys like to see any other initial reports? Perhaps

[2016-03-15 23:53] arakla commented on #102
Builders are members of all booth building orgs. Although there may be
other "orgs" that should be included in this list.

On Tue, Mar 15, 2016 at 7:48 PM, Israel Madueme <notifications@github.com>
wrote:

[2016-03-16 00:25] pkoenig10 commented on #102
@purelogiq Builders are all members of building organizations (having type Fraternity, Sorority, Independent, Blitz, or Concessions).  It would be nice to have the option to to choose the organization or output all builders.  It should be 3 reports each with one column because the information would be used in different contexts.

Two additional reports come to mind:

1. Charges.  Specifically bein

[2016-03-16 01:06] purelogiq commented on #102
Got it, thanks for the clarifications.

[2016-03-17 21:40] pkoenig10 opened #135 "Anyone can add memberships for other users"
Only SCC members should be able to change memberships.  Users should also be able to change their own memberships.

[2016-03-17 22:04] minigeek commented on #135
Should users be able to add memberships or just remove? Also this creates
the potential for badness if someone deletes all their memberships for
things like tool checkouts and fines. In the past we didn't want anyone but
SCC to be able to edit any memberships. The general idea was that they
really don't change, so as long as they're entered correctly the first time
they shouldn't need to edit, and

[2016-03-18 00:45] pkoenig10 commented on #135
Makes sense.  SCC can edit all memberships.  Booth chairs can edit memberships for their org (to make people booth chairs).

[2016-03-18 20:30] pkoenig10 opened #136 "Improve Shibboleth login workflow"
Two issues:

1) Right now the page immediately redirects to the CMU Shibboleth login page.  This shouldn't happen until the user selects login.
2) After logging in with Shibboleth, the user is not logged in until they click the log in button (at which time they are immediately authenticated because they are already logged in with Shibboleth).

[2016-03-18 21:20] minigeek commented on #119
Are we sure this behavior exists in production? I don't think this was broken before and I can't find anywhere where we're messing with defaults.

[2016-03-18 21:26] purelogiq commented on #136
This may have to do with the Apache configuration, i.e. which path is being authenticate (root /, /login, etc.)

[2016-03-18 21:52] pkoenig10 commented on #136
I think that might be partly to blame.  I'm going to investigate it in my free time.  Its not a super critical issue.

[2016-03-19 03:54] #136 closed

[2016-03-19 21:16] kunalsin commented on #106
For the link in the top-level nav, can everyone have access to the link and see all the tasks on the page??

[2016-03-19 21:22] pkoenig10 commented on #106
Only SCC members should be able to access the tasks page.

[2016-03-19 21:39] kunalsin commented on #106
When an scc member clicks on the complete button:
1) The completed flag should be set to true
2) Should the task still be displayed in the tasks list or should only the uncompleted tasks be displayed

[2016-03-19 21:42] arakla commented on #106
If there is a way to view completed tasks, then I think that it is not
absolutely necessary to keep showing them. If there is no way to view the
completed tasks, then I would not want them to disappear.
On Mar 19, 2016 17:39, "kunalsin" <notifications@github.com> wrote:

[2016-03-19 21:42] pkoenig10 commented on #106
It would be nice to have a drop down to view all, completed, or uncompleted tasks.  Identical to the all, checked in, checked out drop down for tools.

[2016-03-19 21:43] kunalsin commented on #106
Got it

[2016-03-20 00:28] minigeek commented on #136
We had done this originally I belive so that the whole site would be private to CMU only. Was probably overzealous then, probably overzealous now.

[2016-03-20 00:32] pkoenig10 commented on #136
I just had to change the path protected by Shibboleth in the Apache config. This path is detailed in the omniauth-shibboleth documentation.

[2016-03-21 20:02] #119 closed

[2016-03-21 20:38] #104 closed

[2016-03-21 22:17] RONNCC commented on #134
title column actions

[2016-03-21 22:20] RONNCC commented on #87
Have a bulk add button under the watch shifts to create it

[2016-03-21 22:23] #135 closed

[2016-03-21 22:40] pkoenig10 opened #146 "Make Event Log"
Log of events (phone calls, emergencies, etc.) that occur on Midway.  Should be similar to organization_status_entry with types of events and notes for each one.

The log entries should also have a some sort of acknowledgement boolean similar to "is_completed" in tasks or "is_approved" charges. Only admins should be able to mark an entry as acknowledged.

The types should also have a display field

[2016-03-22 13:59] purelogiq commented on #121
nvm

[2016-03-22 20:05] minigeek commented on #121
Sorry I sniped this, I was bored and trying to re-setup my dev box (absolutely loving Cloud 9 btw) and figured this would be a good first task, also assumed you were asleep by the time I started coding last night so I didn't want to buy you and ask.

[2016-03-22 22:08] purelogiq commented on #121
No problem. I hadn't started this yet and we've been pushing it off till the end of the project anyways.

[2016-03-24 00:19] #117 closed

[2016-03-27 05:55] purelogiq commented on #80
Super quick question, can anyone shed some light on [this](https://github.com/sc0v/binder-app/blob/master/app/controllers/checkouts_controller.rb#L50) part of the code. It seems like there is some provision to dynamically create a hardhat when checking it out by using a barcode < 0 or > 2500. Should this feature remain in my re-factored checkout process?

[2016-03-27 05:59] minigeek commented on #80
Yes, although it should just be an autofill, not auto create (give user an
opportunity to cancel). When we barcode hard hats we often don't enter them
as tools and later need to check them out quickly.

There is some chance that they're now all created (assuming we have a
snapshot of last year's database), but I think as long as we provide a
cancel button this makes the coordinator's life easier.

[2016-03-27 06:18] purelogiq commented on #80
Thanks, also is there a reason that the json format is supported in that controller? I don't see any where besides the rapid tool checkin that ajax queries are being used.

[2016-03-27 06:21] purelogiq commented on #80
Also @pkoenig10 or @arakla can you comment on whether these hardhats are now all created and if this is how it should work this year?

[2016-03-27 19:16] pkoenig10 commented on #90
@RONNCC you didn't remove the upload tab from the organization page in #144.  Please make another pull request to address that.  In the future, please let me merge the pull requests so I can at least glance over them first, even for minor things like this.

[2016-03-27 19:52] RONNCC commented on #90
@pkoenig10  I apologize - I didn't merge the PR, I was just closing the issue as there were no more comments on it

[2016-03-27 20:15] pkoenig10 commented on #90
Sorry! Just realized I was the one that merged that.  So that's on me.  I'll push a fix.

[2016-03-27 20:23] pkoenig10 commented on #80
I've updated the seeds file with all the hard hats from the production database from last year.  All of the hard hats should be in the database when we check them out for distribution.  On the off chance that we're missing a couple we can manually add them.  I think that is certainly worth it for cleaning up this kinda weird code.

Furthermore, there are a ton of tools with barcodes > 2500 that ar

[2016-03-27 20:28] pkoenig10 commented on #90
I was completely mistaken, this was fine.  Not sure what I was seeing earlier but probably just a side effect of jumping between branches too much.

[2016-03-27 20:28] #90 closed

[2016-03-27 20:48] purelogiq commented on #80
Got it. Fixing...

[2016-03-27 21:04] arakla commented on #80
I think this was made under the assumption with better tool tracking we
wouldn't pass that number anytime soon, but that was a few years ago.

Also there will definitely be new tools, there are always things that come
up every year, including hardhats because new ones are put together during
distribution when needed.

If anything, I could be remembering wrong, but at one point there was a
bulk har

[2016-03-27 21:09] pkoenig10 commented on #80
I think it was a spreadsheet. I know last year we used a spreadsheet and then put them into Binder later. But I'd rather not do that this year if we can help it.

[2016-03-27 21:18] arakla commented on #80
Agreed. I think the biggest issue with moving it to binder was that by
default binder requires an Andrew ID on checkout. But I'm not sure if that
was that reason bulk checkout to an org doesn't exist.
On Mar 27, 2016 5:09 PM, "Patrick Koenig" <notifications@github.com> wrote:

[2016-03-28 02:14] purelogiq commented on #36
Done by Kunal!

[2016-03-28 22:54] pkoenig10 opened #150 "Add text alerts for tool waitlist"
Texts can be sent using carrier email domains.  Texts should be sent when a tool is checked in for which the waitlist is not empty.  Texts should be sent to booth chairs and the individual on the waitlist.

[2016-03-28 23:36] pkoenig10 opened #151 "Tool cart"

[2016-03-28 23:46] RONNCC commented on #146
things that coordinators dont care about like phone calls - like you don't need to know a phone call happen, admins can go to event_login - things like important notes, make sure they dont help themselves need to show up in the list

[2016-03-28 23:54] RONNCC commented on #146
if the type is displayable, sdc members can approve it. if not then only admins

[2016-03-29 00:01] purelogiq commented on #151
The tool cart is going to be the replacement for the outdated checkout feature. It will be implemented as a sidebar box that combines both the "Rapid tool checkin" and the "Multiple tool checkout" feature.

The sidebox will have a box to list the tools you want to "add", the list of tools to be checked in or checked out, and 2 buttons: 1 to checkout the listed tools and 1 to checkin the tools.

I

[2016-03-29 00:04] purelogiq commented on #81
This will be implemented as a sidebar widget with 1 field to enter scanned tools. Then after scanning the first tool it will populate the 'Checked In' tool field and after scanning the next one it will populate the  'Check out' tool field. When clicking 'Swap' it will check in the old tool and checkout the new tool using the org and participant from the checked in tool.

[2016-03-29 00:10] pkoenig10 opened #152 "Tool types break search"
When I searched for "gun" it immediately jumped to the "Hot Glue Gun" page even though there were "Caulk Gun".  There may be other related issues.

[2016-03-29 00:11] minigeek commented on #150
I've also integrated Twillio, although you have to pay per-text.

On Mon, Mar 28, 2016 at 3:54 PM Patrick Koenig <notifications@github.com>
wrote:

[2016-03-29 00:55] arakla commented on #146
Just a typo correction, SCC members, not SDC members
On Mar 28, 2016 19:54, "sg" <notifications@github.com> wrote:

[2016-03-29 02:11] #36 closed

[2016-03-29 04:32] pkoenig10 commented on #150
I have noticed that,  The payment my only reservation, especially when this allows us to do it for free.

[2016-03-29 04:35] pkoenig10 commented on #81
Just to clarify, the tool scanning shouldn't have to be in a specific order. Binder should know which tool is to be checked-in and which is to be checked-out and fill the appropriate field.

[2016-03-29 05:08] arakla commented on #150
That being said, it looks like it would only be $7.50 or so for 1000
messages, so the cost for would probably negligible if it is easier/more
reliable to use Twilio over the Rails email and the Andrew mail relay. Let
me know if we need to setup an account as we will need to get contracts
approval (this usually only take a few hours, but can take 24-48hrs).
ᐧ

Aamer F. Rakla
B.H.A. Information Syst

[2016-03-29 05:11] arakla commented on #150
Depending on what we go with, we could look at removing someone from the
waitlist by texting back "Cancel", but that might be outside the scope for
the available time frame.
ᐧ

Aamer F. Rakla
B.H.A. Information Systems & Drama: Production and Stage Management
Carnegie Mellon University, 2016

Boss Ambassador (Mentor), Student Life Office
Financial Advisor, Student Dormitory Council
Treasurer, Spri

[2016-03-29 05:13] purelogiq commented on #150
Do you want the text to be sent to just the first person on the waitlist, or the first 3 people,  or everyone?

[2016-03-29 05:17] pkoenig10 commented on #150
I might put this on hold for this year, until we see how well the waitlist works. Even with making the coordinator aware when checking out waitlisted tools, I can see us sending a text, accidentally checking out the tool, and the org getting upset. This is mostly because we don't really have a way to enforce how long we will hold a toll for someone.

[2016-03-29 05:19] purelogiq commented on #150
Ok, lets see how the waitlist works this Carnival and during the remaining semester we can develop a plan for future Carnivals.

[2016-03-29 05:20] pkoenig10 commented on #150
Or we could tell booth chairs that they will get a text immediately but we make no guarantees about holding tools. I think this is the better solution because it moves the burden or responsibility from us to the booth orgs. Also it would mean we don't have to worry about the wait list when checking out tools.

[2016-03-29 05:21] arakla commented on #150
We could also add a field for how long an org has been on a waitlist and if
it is older than X time, we remove them.

Because, if we don't alert orgs in some way, will they just be checking
back in occasionally until it is available, but it could get checked out.
I'm all for making a future plan, but I just don't see orgs checking in
occasionally.

Aamer F. Rakla
B.H.A. Information Systems & Drama

[2016-03-29 05:22] arakla commented on #150
Or that what Patrick said. Sorry I'm responding by email and I guess I get
delayed notifications.

Aamer F. Rakla
B.H.A. Information Systems & Drama: Production and Stage Management
Carnegie Mellon University, 2016

Boss Ambassador (Mentor), Student Life Office
Financial Advisor, Student Dormitory Council
Treasurer, Spring Carnival Committee

On Tue, Mar 29, 2016 at 1:21 AM, Patrick Koenig <notifi

[2016-03-29 05:23] pkoenig10 commented on #150
True, if we're going to use he wait list we probably need this. @purelogiq focus on the checkout stuff now and we will discuss on Friday after I've looked into various ways to send SMSs.

[2016-03-29 19:56] #121 closed

[2016-03-29 19:57] #101 closed

[2016-03-29 19:57] #100 closed

[2016-04-01 19:57] #106 closed

[2016-04-01 19:58] #116 closed

[2016-04-01 20:06] pkoenig10 opened #154 "Create single page form for adding to waitlist"
This should consolidate the current "add to waitlist" process to a single.  Selecting the participant should automatically populate a dropdown menu with their orgs at the top of the dropdown.  When an org is selected that they are not a member of, the "Add membership?" checkbox will appear.

Refer to the work being done for the tool checkout/checkin sidebar.

[2016-04-01 20:23] pkoenig10 opened #155 "Create single page form for checking out from store"
Identical to #154 but for the store.

[2016-04-01 23:20] #134 closed

[2016-04-01 23:23] pkoenig10 commented on #85
This is feature is being included in #146.

[2016-04-01 23:23] #85 closed

[2016-04-01 23:25] pkoenig10 commented on #95
Decided against doing this.  The benefit would be marginal but would require a great deal of maintenance to keep the images updated for new tools.

[2016-04-01 23:25] #95 closed

[2016-04-01 23:29] pkoenig10 commented on #107
Decided that putting judging scores in Binder would be unnecessary  Judging is done on paper and score must be sent to the orgs by email anyways because the data in Binder won't stay there very long.

[2016-04-01 23:29] #107 closed

[2016-04-01 23:31] pkoenig10 commented on #103
This is unnecessary.

[2016-04-01 23:31] #103 closed

[2016-04-01 23:34] pkoenig10 commented on #88
Use the WeatherSentry API to pull weather info and put it on the Binder dashboard.

[2016-04-03 18:58] pkoenig10 opened #158 "Dropdown filters show parameter name even when it is unused"
This can be seen when filtering tools.  Select a tool type but leave status to all.  But this might just be how the dropdowns need to work.

[2016-04-03 18:59] pkoenig10 opened #159 "Move store cart to sidebar"
This should be similar to the tool cart.

[2016-04-03 23:39] purelogiq commented on #155
Does this conflict with issue #159?

[2016-04-04 00:19] pkoenig10 commented on #155
I wanted to discuss moving the store to the sidebar. For now lets just make it one page (we're doing something similar for waitlists anyways so it won't be much work wasted if we decide to move it).

[2016-04-04 23:20] #151 closed

[2016-04-04 23:20] #80 closed

[2016-04-04 23:20] #81 closed

[2016-04-04 23:21] #118 closed

[2016-04-04 23:43] #146 closed

[2016-04-04 23:43] #109 closed

[2016-04-04 23:44] #102 closed

[2016-04-05 00:26] pkoenig10 opened #163 "Adding duplicate items to the store cart creates another entry"

[2016-04-05 06:54] #94 closed

[2016-04-06 13:44] #155 closed

[2016-04-06 13:44] #154 closed

[2016-04-06 13:44] #152 closed

[2016-04-06 13:45] #105 closed

[2016-04-06 13:45] #158 closed

[2016-04-06 13:47] pkoenig10 opened #168 "Allow fractional store prices"
Currently the store only allows integer prices.

[2016-04-06 16:25] pkoenig10 opened #169 "Add live size count to tool cart"
When there are tools in the cart, the title of the wdiget should read something like "Tool Cart (3 tools)". Nothing additional should be shown if the cart is empty. This count should update live as tools are scanned.

[2016-04-06 19:41] pkoenig10 opened #170 "Tool types break organization tool pages"
For example (/organizations/1/tools).  This should show only tools checked out to an organization and should not have the check in/out filter.  This may be a little tricky to get working.

[2016-04-06 19:42] pkoenig10 opened #171 "Tool cart should have a Remove All button"
Not sure where this would fit best in the widget.

Also can we change the duplicate tool notice color to orange (warning) to differentiate it from the error message (which is red)?

[2016-04-06 20:35] pkoenig10 opened #172 "Update tools model to force unique barcodes"

[2016-04-07 18:53] arakla opened #173 "Verify waiver birth date"
Two additional notes for the waviers.

1) We need an electronic signature field (just a text input).  Submitting the waiver should check the ensure that the entered name match the current users name and throw a flash message error if it doesn't.
2) We need a date of birth field.  A field should be added to the participant model and this should be saved when the wavier is completed.

[2016-04-07 19:29] arakla commented on #173
@pkoenig10 They would like this to be updated sooner rather than later, I've forwarded the waivers to you. And yes I know they are some waivers from before.

[2016-04-09 04:25] purelogiq commented on #170
I can't find any way to get to that page other than clicking "hardhats" on the org page. Since the org page already has a tools tab, do you want that page to only show hardhats or everything checked out by the org. Also if the filters worked (i.e. limited to what the org had) would you like to keep them?

[2016-04-10 13:58] pkoenig10 opened #174 "Add a created_by field to events"
This should not show in the form and just be set to the currently logged in user.

[2016-04-10 17:24] pkoenig10 commented on #170
@purelogiq here's what I'm thinking.  We remove the Members and "Hardhats" buttons.  At the bottom of the organization tools partial, there is "View more..." link.  Lets change this to "View all..." and show it anytime the organization has at least 1 tool checked out.  This will then take them to a tool view (limited to what the org has) where all the filters work.

[2016-04-11 04:59] purelogiq commented on #170
Will be fixed tonight, sorry for the delay

[2016-04-11 15:47] pkoenig10 opened #176 "Sidebar form submission conflicts"
When adding an org to a queue, if there is a note that can be OK'd, then the "Structural" or "Electrical" button OKs the note instead of adding an org to the queue.

[2016-04-11 16:43] #176 closed

[2016-04-11 21:12] #170 closed

[2016-04-11 22:31] pkoenig10 opened #177 "Create button to quickly create a new organization status"
It would be nice to be able to create a status without going to the orgs page.

[2016-04-11 22:33] pkoenig10 commented on #40
Closing this issue because we know have a (sort of) live view and embedding the view would require updating the whitelist on the camera every year.  Also the view would only show on the homepage.  It would be more convenient to just have another tab open.

[2016-04-11 22:33] #40 closed

[2016-04-11 23:03] pkoenig10 commented on #88
Because this would only show on the homepage, this functionality would be better served in a separate tab in the browser.

[2016-04-11 23:03] #88 closed

[2016-04-11 23:04] purelogiq commented on #150
Text the first person on the waitlist when a tool is checked in, after 15 minutes text the next person if the exact tool checked in is still there. (note add the tool number in the text message).

After 12 hours remove the person that got the text from the waitlist. Do not refresh if a new tool is checked in.

Note text all the booth chairs and person signed up on the waitlist.

[2016-04-12 03:32] arakla opened #178 "Filter for Charges"
Could we add filters for the charges index?
I wanted to start looking over charges, but there are A LOT of store charges to sort through. So if I could filter by org, charge type(s), and filter out store charges, that would be amazing!

[2016-04-12 03:34] pkoenig10 commented on #178
We should do this, but you can also run reports, where you can choose an org and filter out store purchases.

[2016-04-12 03:36] arakla commented on #178
This is more to adjust charges, like if a watch shift needs to be changed
for 1st to 2nd missed/late or something else like that where it'd be
helpful to see them all in binder and edit them. So reports would work, but
then I'd need to keep switching between applications (I know, it's not too
much work, but this would be so much more convenient).

Aamer F. Rakla
B.H.A. Information Systems & Drama:

[2016-04-12 03:51] arakla opened #179 "Any SCC Member can create new event types"
Any SCC member can create new event types, this should be admin only, correct?
Also any SCC member can view all events in the event log, I think this is supposed to be admin only as well. SCC members should only be able to see displayable notes.

[2016-04-12 08:12] pkoenig10 commented on #179
No everyone can see all events in the event log. There's nonreason for only admins to see some events. Also SCC members should be able to create new types in case something comes up that warrants a new type. Please talk to me before submitting issues that are just questions to avoid cluttering the issues page.

[2016-04-12 08:12] #179 closed

[2016-04-12 23:18] #169 closed

[2016-04-12 23:18] #171 closed

[2016-04-13 06:05] purelogiq commented on #150
@pkoenig10 Actually a gmail account for Binder to mail from would be great. It will also allow people to reply (though I won't be doing automated scanning, an SCC member can always look at it).

[2016-04-13 06:36] purelogiq commented on #150
When you make the account you will need to enable IMAP in the account settings. Also as a personal reminder we will have to figure out how to store the password outside of the github repo while still being able to set it as an environment variable in production.

[2016-04-13 08:07] arakla commented on #150
Just curious, is there any reason not to use the CMU mail relay?
On Apr 13, 2016 02:36, "Israel Madueme" <notifications@github.com> wrote:

[2016-04-13 11:17] pkoenig10 commented on #150
And just curious, why can't we just use Rails built-in Action Mailers. Replying is something we don't really need because I highly doubt people will reply.

[2016-04-13 15:07] pkoenig10 opened #181 "Page jumps down to bottom after scanning in a shift participant"

[2016-04-13 15:58] purelogiq commented on #150
Well it will use Rails built-in Action Mailers regardless. I just wanted to inform you of the option to [configure it to go through gmail](http://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration-for-gmail) if you guys wanted replys (e.g. for watch shift texts). If not then we can also just use no-gmail (i think).

[2016-04-13 16:28] pkoenig10 commented on #150
Let's just stick without Gmail for now (we can configure the from address and name to be whatever we want anyways) and do that later if we want to.  It seems like it would be a trivially thing to switch.

[2016-04-13 18:22] pkoenig10 opened #182 "Limit number of same tool an org can check out"
Either show a warning or prevent an org form checking them out.

[2016-04-13 18:25] arakla commented on #182
Maybe not outright prevent, but force the coordinator to acknowledge a
message that the org ABSOLUTELY needs the tool. Or require the coordinator
to tap/swipe their ID.

-- Aamer
On Apr 13, 2016 2:23 PM, "Patrick Koenig" <notifications@github.com> wrote:

[2016-04-13 18:25] pkoenig10 opened #183 "Better view to track an orgs progress"
Something like a chart for each org.  Unfortunately as Binder is now, this would require some hardcoding to the organization_status_entries.  We will need to come up with a more creative solution.  Maybe have a field in each organization_status_entry_type to indicate which step it is in the review process.

[2016-04-13 19:55] pkoenig10 commented on #182
I think an acknowledgement is good. I would say having the coordinator tap their ID is too much.

[2016-04-13 21:25] minigeek commented on #182
This does point to an issue which was never really resolved. We currently
don't do any verification that the user logged-in is who they say they are.
There are lots of things such as this that can be resolved by looking at
logs to see who did something, but unless people are super diligent about
logging in and out on the trailer computer those logs aren't very useful to
actually show who did somet

[2016-04-13 21:55] arakla commented on #182
Maybe implement a tap in/tap out feature?

--Aamer
On Apr 13, 2016 17:25, "Chase Brownell" <notifications@github.com> wrote:

[2016-04-14 01:13] pkoenig10 opened #184 "Can't delete store purchases from charges"
This happens because Binder tries to delete a charge, but it is linked to the database entry in store_purchases, which isn't getting deleted.

[2016-04-18 13:50] pkoenig10 opened #187 "Log out of Shibboleth without closing browser"

[2016-04-18 13:55] #184 closed

[2016-04-18 14:06] #181 closed

[2016-04-18 16:01] pkoenig10 opened #188 "Automatically start/stop downtime when Midway opens/closes."

[2016-04-18 17:25] pkoenig10 opened #189 "The downtime page is public"
It is possible to access the downtime page without being logged in.

[2016-04-18 22:30] pkoenig10 opened #190 "Add reports for all late shift participants."

[2016-04-18 22:50] purelogiq commented on #174
Add created time field

[2016-04-18 22:51] RONNCC commented on #174
Only show the last 24 hours of notes (maybe with a collapsible?)

[2016-04-18 23:01] purelogiq commented on #183
From meeting

If an org status type has an order number, it is part of a process that has order
(e.g. first floor, first floor walls)
Any that has an order, show in order on a chart.

[2016-04-18 23:03] RONNCC commented on #188
Maybe a constants bar of some sort with an admin panel -- have it automatically stop when it closes

[2016-04-18 23:09] purelogiq commented on #190
Report, show late participants and missed shifts. Show how many minutes late.

[2016-04-18 23:18] pkoenig10 commented on #174
The created_by should be the currently logged in user.

[2016-04-18 23:20] purelogiq commented on #178
Make sure it works on organization charges page. (/organization/:id/charges)

[2016-04-18 23:21] kunalsin commented on #178
Filter on type attribute

[2016-04-18 23:49] minigeek commented on #188
We actually need a much better settings story in general. Currently there's
a bunch of hard-coded nastiness in things like the sidebar to enable and
disable features, etc. that should ideally all be moved to the database
somehow. I would suggest in the short term just making a "settings" model
with only one row and a column for each "setting." It's not very pretty,
and it requires a migration ever

[2016-04-18 23:55] minigeek commented on #183
There was some work done for statuses to show on the Org index page, not
sure what happened to it, but there was supposed to be a boolean for each
status type that said whether or not to have it display on the index, then
you can set it to true for stuff like inspections and false for random
things and the Org Index page would just show the latest status for each
org. A chart is much nicer, but I

[2016-04-18 23:57] pkoenig10 commented on #183
The ordering isn't really to enforce a process for building, it more for organizing the view for booth committee who will be looking at it.

[2016-04-20 21:07] #190 closed

[2016-05-01 19:08] arakla opened #196 "Org page shifts on shows upcoming shifts"
There should be a way to easily view past shifts for an organization without running a report, or at least clearly state that the shifts tab is only upcoming shifts.

[2016-05-01 19:16] arakla opened #197 "Edit Shift check-in times"
Admins (and maybe SCC members) should be able to edit check-in times in case a person was checked in late but arrived on time

[2016-05-01 19:16] arakla opened #198 "Filter for Event Log"
Anyone, with access, should be able to filter the event log.

[2016-05-01 19:18] arakla opened #199 "Event Log - Ok & Un-ok does not work"

[2016-05-01 19:34] arakla opened #200 "Missed/Late Shift Reports need more info"
Exact information is needed on the late shift reports, or at least a link to the shift(s) referenced.

[2016-05-01 19:36] pkoenig10 commented on #200
Specifically, what information do you need? That reports gives you pretty much all the info Binder has...

[2016-05-01 19:39] arakla commented on #200
The reports have columns for shift start and clock in time, but they are not populated. Additionally, it can be helpful to be able to go to the shift page from the report if something could need to be edited.

[2016-05-01 19:39] #196 closed

[2016-05-01 19:39] arakla commented on #200
Also the shift and clock in time do not show up unless the browser window is big enough.

[2016-05-01 19:44] pkoenig10 commented on #200
The missing times was on me (see #191), they should be populated and always show now.

So this issue is just for adding a link to the report, which I don't think is easy to do.

[2016-05-01 19:47] pkoenig10 commented on #199
Details? What happens?

[2016-05-01 19:49] arakla commented on #199
404 Not Found ... the exact error displayed is the Page Not Found Error

"The page you were looking for doesn't exist.

You may have mistyped the address or the page may have moved."

[2016-05-01 20:01] arakla commented on #199
Apparently for notes made after a certain point, or maybe it is just me, pressing ok doesn't work either. Or maybe it is for event types that weren't seeded? Or maybe non-displayable events. I'm not sure and can't check right now.

[2016-05-01 20:06] pkoenig10 commented on #199
The answer is that events are very broken.  I'm sure most things are pretty trivial fixes. I will probably go through and harden Binder a little bit this summer. I'll fix those issues then.

[2016-05-01 21:15] arakla opened #201 "Charges - Workflow"
After approving a charge from an org charge page, binder loads the charges index as opposed to the org charge page you were just on

[2016-05-03 04:30] arakla opened #202 "Updating/edit a charge appears to lose the issued to user"
Binder doesn't actually lose the issued to name, it just appears to because it does not display it on the edit page as it is just a text field. So this is more of a design issue and understanding/documenting how Binder works.

A quick fix would be to just have note on edit page saying that binder hasn't lost it.

[2016-05-03 04:56] arakla opened #203 "Automated Charges"
Binder should be able to automatically issue charges for missed and late watch shifts, as well as issue charges for hardhats and tools that have not been returned by a certain date as well. Obviously an admin will still need to approve all charges.

[2016-05-03 04:59] arakla opened #204 "Bulk Charge CRUD & approval"
An admin should be able to approve charges in bulk and also be able to view/edit charge details. Additionally, from the same page an admin should be able to add or remove charges.

[2016-05-03 05:01] arakla opened #205 "Issue charge to all orgs"
Admins should be able to issue a charge to all building orgs or issue by org type, this is primarily to issue a split charge between all orgs. Ex: unknown large paint spill, cost is split between all orgs and approve at the same time if the admin wants to.

[2016-05-03 06:55] arakla opened #206 "Auto Approve Store Charges"
All store charges should be auto-approved unless they are edited manually.

[2016-05-03 08:00] arakla opened #207 "Search should include charges"

[2016-05-03 08:04] arakla opened #208 "Charges Overview Error"
One of the columns, either Pending Charges or Total is not always accurate. I think pending charges doesn't actually total all pending charges.

[2016-05-03 08:34] arakla opened #209 "Charge Summary for each org"
Like the charge overview page, but for booth chairs to see a summary of each charge type
Additionally, they should be able to view a filtered version of their charges of a specific charge type.

[2016-05-03 08:36] arakla opened #210 "Charges - Totals"
There should be a store total and charge/fine total on each org page.
Additionally, the charges overview by org should separate store charges and fines/other charges

[2016-05-03 14:40] pkoenig10 commented on #207
Why is this useful? Especially if we add filtering to the charges page.

[2016-05-03 17:58] pkoenig10 commented on #210
This seems like a duplicate of #209. Can we consolidate them into a single task of creating an updated charge view that allows for filtering and shows totals?

[2016-05-03 18:02] #209 closed

[2016-05-03 18:04] pkoenig10 opened #212 "Use custom URLs for entity names"
http://blog.teamtreehouse.com/creating-vanity-urls-in-rails

[2016-05-03 18:05] pkoenig10 commented on #209
I added a "Charges" button to the org page that will take you to a view showing only their charges.  So this issue has become a duplicate of #178.

[2016-05-03 18:08] arakla commented on #209
Does the Charges button provide totals for each charge type?

[2016-05-03 18:17] pkoenig10 commented on #209
No, but that is part of #210. That task can also include updating those org-specific charge index pages to have more useful information, if needed.

There is alot of (relatively easy) work that can be done to improve the charges workflow.  I think your issues make it pretty clear where the workflow suffers the most and is sufficient feedback to improve the current solution.

[2016-05-05 00:26] arakla opened #213 "Charge Approval"
When approving charges from the charge page, after clicking approve, Binder reloads and is back on page one. Same thing happens after approving a charge from the charge's show page. It'd be great if AJAX could be use.

[2016-05-05 00:46] arakla commented on #207
I was trying to find something by description I had typed

[2016-05-05 01:34] pkoenig10 commented on #213
This should also apply to completing tasks and OK-ing notes.

[2016-05-05 20:29] dlareau opened #214 "Charges page filters each page rather than all charges"
The main charges page has 22 pages of charges as if to display all charges for all orgs, but then limits each individual page to what the user can view. For example KGB booth chairs can see a single charge on page 1, two charges on page 4 and blank pages 2 and 3.

[2016-05-05 21:03] minigeek commented on #214
This is somewhat tricky, look at the [Tools Controller](https://github.com/sc0v/binder-app/blob/master/app/controllers/tools_controller.rb#L14) for a good example of how it should work.

[2016-05-06 04:26] arakla opened #215 "Charge Overview is not secured"
The charge overview is not secured. It should be scc or admins only. Currently it works without a login. Additionally, it is not linked to from anywhere. That being said, this needs to be accessible to a few non-admin people (Advisors and Financial Admins). Do not make this fix live before 5/20/16.

[2016-05-06 04:29] arakla opened #216 "Advisor & Financial Admin Users"
With Binder becoming more relied on, Advisors (such as Greek Advisors/HFs) and Financial Admins (such as Student Life) need to be able to login and see the charges as well as verify the amounts being charged to the orgs they are responsible for.

So, we need new a new user type/role for these users.

[2016-05-06 04:30] pkoenig10 commented on #215
I won't fix it before then. But can't we just give access to Binder users in the Student Activities org?

[2016-05-06 04:31] arakla opened #217 "Add an optional Oracle String Field for orgs"
This way we don't keep files around that have oracle strings, especially if they are old. Additionally, we could have Advisors/Fin Admins update it.

[2016-05-06 04:33] pkoenig10 commented on #216
There is already a Student Activities/DOSA org. We can just make sure they have the appropriate permissions.

[2016-05-06 04:33] #216 closed

[2016-05-06 04:34] pkoenig10 commented on #217
This smells of something that Student Activities would have a problem with. Are we allowed to store the Oracle strings for other orgs?

[2016-05-06 04:35] arakla commented on #215
We can and I have, but to be able to see all the charges, they need to be added as a member of each org. And I wasn't sure if they needed to be booth chairs, so then I had to make them a booth chair of each org after adding them to the orgs.

Additionally, it would be much easier if this was seeded into the db or persisted year to year. Also, we don't actually want them to be listed as a participa

[2016-05-06 04:36] arakla commented on #217
We would need work with them on this and it would only be for some orgs (not the Student Activities ones). This way, we can have a report that runs and will include all information needed for the transfers instead of someone sitting down and going through everything in binder to make a spreadsheet for the transfers.

[2016-05-06 04:37] arakla commented on #216
See my comment in #215

[2016-05-06 04:38] arakla opened #218 "Post Carnival Final Charges Notification"
Give an admin a way to send a notification/email to all booth chairs, advisors, and financial admins containing an orgs total charges/fines and total store charges as well as instructions on how to view charge details and dispute charges.

[2016-05-06 04:43] pkoenig10 commented on #215
We can give them the same permissions we currently give SCC members.

[2016-05-06 04:43] arakla commented on #71
This should be revisited along with #173 as the move to CFA has gotten more people concerned about this

[2016-05-06 04:44] pkoenig10 commented on #217
Everything else can be done through a properly configured report. If the only thing they have to do is look up Oracle strings for each org, that's not a big deal.

[2016-05-06 04:44] arakla commented on #215
But an advisor or financial admin shouldn't be able to change the charges, edit orgs that they aren't responsible for, and so on.

[2016-05-06 04:45] pkoenig10 commented on #218
Why should this be through Binder? What you described is exactly what email does.

[2016-05-06 04:46] pkoenig10 commented on #215
Sure, we can make those adjustments accordingly.

[2016-05-06 04:46] arakla commented on #218
Except that means either someone has to get all the information of binder manually or have a report that does this and then know how to do a mail merge. And even then a mail merge won't send one email per org, but one email per person.

[2016-05-06 04:47] pkoenig10 commented on #71
Isn't actually required though? Do we have some agreement where we explicitly stated it is a required video? It doesn't adhere to any official safely requirement, it's just a video we made. Orgs still have to go to trainings.

[2016-05-06 04:48] pkoenig10 commented on #218
Oh I see, so we can state in the email what the charges are. Got it.

[2016-05-06 04:50] arakla commented on #71
Actually it is as of this year. We actually don't meet all of risks
requirements as they think everyone must watch the video and that it has
been updated with fire safety requirements, what to do if there is a fire,
and fire evacuation information.
ᐧ

Aamer F. Rakla
B.H.A. Information Systems & Drama: Production and Stage Management
Carnegie Mellon University, 2016

Boss Ambassador (Mentor), Stude

[2016-05-06 07:48] minigeek commented on #71
I agree with Patrick, I don't think we should really try to "require" the
video and should instead just show it by default and I bet 90% of people
won't skip. If it doesn't work on mobile then just applink at the end and
hope they watch it.

On Thu, May 5, 2016 at 9:50 PM Aamer Rakla <notifications@github.com> wrote:

[2016-05-06 07:54] minigeek commented on #218
Ideally we could actually just send them an invoice and let them "approve"
it through binder and just send the final totals to SAO with the oracle
strings in a separate file and pull the money from their accounts with
digital signatures. This may require you to add the presidents or treasurer
from each org, but they should already have accounts.

On Thu, May 5, 2016 at 9:48 PM Patrick Koenig <noti

[2016-05-06 07:57] minigeek commented on #215
Are we really worried that an advisor will go rogue? I think we should just
give them access and keep good logs (although it should be relatively
simple to grant them read but not edit rights).

On Thu, May 5, 2016 at 9:46 PM Patrick Koenig <notifications@github.com>
wrote:

[2016-05-06 12:50] arakla commented on #71
It is no longer us requiring it tough, unless we talk to Andrew and he
corrects me, from what I understand Risk Management and Insurance are
requiring this video of we are on CFA lot.

On Friday, May 6, 2016, Chase Brownell <notifications@github.com> wrote:

--

Aamer F. Rakla
B.H.A. Information Systems & Drama: Production and Stage Management
Carnegie Mellon University, 2016

Boss Ambassador (Men

[2016-05-06 12:51] arakla commented on #215
I'm not really worried about them going rogue as much as how they appear on
binder, security in general (or at least trying to have some semblance of
it), people accidentally doing something.

On Friday, May 6, 2016, Chase Brownell <notifications@github.com> wrote:

--

Aamer F. Rakla
B.H.A. Information Systems & Drama: Production and Stage Management
Carnegie Mellon University, 2016

Boss Ambassa

[2016-05-06 13:12] arakla commented on #218
A few different thoughts on this, although I actually would love invoices.
- When orgs sign the terms and conditions, they also have already approved
an JEs/transfers
- Depending on how the year goes, charges may go out late, like this year,
and we will go ahead and do the transfers and make adjustments as needed at
the end of 15 days (per Rita, Tiffany may want different things when she is
handli

[2016-05-06 13:18] arakla opened #219 "Add a replacement cost field to the tools model"
This would allow binder to actually automatically charge orgs for lost tools at the end of Carnival.

The reason it needs to be per tool is because we don't always buy the same brand/type and we charge org the cost of an exact replacement of possible.

That being said, the amount could be filled in by tool type and then adjusted if necessary, if we want to do that.

[2016-05-06 13:27] pkoenig10 commented on #219
+1 for tool types. Having the replacement costs on individual tools is a maintainability nightmare. Often when tools are added to Binder we don't have the cost readily available. I think most tools of a given type are similar enough in cost where we can just assign an average value to the tool type.

[2016-05-06 13:33] arakla commented on #219
The reason I said tools is because this year there have been tools of the
same type where one version/brand is better and double the cost of another
or just significantly more then another.

In terms of maintainability, it isn't necessarily a nightmare because of a
few reasons:
- it is only needed if lost or damaged
- if a price is missing the treasurer (or whoever is approving charges) can
look i

[2016-05-06 13:50] pkoenig10 commented on #219
This is entirely predicated on the fact that Binder's data persists between years, which is currently not the case.

Also we're going to have to populate this at some point.  I don't really see the benefit of doing it before we need to.  The only difference between looking up the prices for every tool now, and looking up prices for tools when they break, is that we'll end up looking up a bunch of

[2016-05-08 07:02] arakla opened #220 "Waiver Check Screen or Dashboard"
We should have a page to quickly check if someone has signed a waiver and clearly states which wristband they get. Student Activities told me about multiple people who got building wristbands when they should have gotten non-building wristbands.

Ideally, this screen would do the following:
- An ID is tapped
- Using AJAX, it shows the person name and waiver signed (yes/no) clearly
- If yes, then i

[2016-05-08 23:31] arakla opened #221 "Do not allow charges to be deleted"
Instead of deleting charges, allow them to be voided (like a Boolean field for active or valid or something similar), this way we can still reference them if needed. This came from me deleting some charges, but needing to credit the org back money and now the math doesn't add up somewhere.

[2016-05-08 23:31] arakla commented on #221
This could also apply in different forms to other models.

[2016-05-08 23:34] arakla opened #222 "Shift Check-in log"
There have been a few instances where people were swapped out during a watch/security shift and a new person signed in. Binder only has the most recent check-in now, making them appear late. We should have a check-in log of people who were swapped out as this allows us and booth chairs to verify people were at the shift. This also allows us to more easily note if someone left early (i.e. If a shif

[2016-07-07 03:36] #111 closed

[2017-02-22 01:15] purelogiq opened #223 "Add the new 67-373 team as contributors"
Hi @ChaseBro, @merichar, @pkoenig10,

There is a new 67-373 IS team for Spring 2017 that will be working on the project. They asked me to have them added onto this GitRepo so that they can review each other's PRs and eventually merge things to master. I met with them and they seem like nice people, they are: @eleanorwilson, @AkshayGoradia, and @blinblinblin.

I do not have permissions to add these

[2017-02-22 01:27] ChaseBro commented on #223
I don't have permissions 😢

[2017-02-22 01:29] ChaseBro commented on #223
But regardless, I would say they should fork into their own repo (even if it's under the sc0v org) so that they can play and we can do merges at milestones or all at once without worrying about things being in a broken state.

[2017-02-22 01:50] pkoenig10 commented on #223
I invited them, although it looks like @chairscc already did.  Good idea creating an SCC account. Who is managing Binder this year?

And @ChaseBro not sure why you weren't an owner, changed that back.

And they should fork or work on separate branches.  Last year I found that just working on separate branches in this repo made it much easier to check out different people's changes for testing, ver

[2017-02-22 03:55] ChaseBro commented on #223
Still showing me as a member, but thanks in advance.

[2017-02-22 03:56] ChaseBro commented on #223
Totally cool with them just keeping branches, also forgot github added Code Reviews and we can just have `master` require a code review and be all good.

[2017-02-22 04:04] #223 closed

[2017-02-26 17:36] purelogiq opened #225 "Added eleanorwilson to the contributors"
#223 talked about adding the new 67373 team, but @eleanorwilson seems to have been left out. :(
She is requesting that someone add her.

The team will be merging to their own "master" branch: "17/goat/master" but she needs permissions to be able to push to this repo.

[2017-02-26 17:39] purelogiq commented on #225
Nevermind :) she forgot the invitation!

[2017-02-26 17:39] #225 closed

[2017-03-01 19:26] blinblinblin commented on #201
@arakla @pkoenig10 Is it okay that we redirect to the organization page as opposed to the organization's charges tab? The latter increases the complexity of the issue.

[2017-03-01 20:54] arakla commented on #201
In my opinion, that would be ok since leaving the org page is a bigger hassle. However, in terms of workflow, it is still a pain if you are trying to review many charges at once.

Side tangent for the workflow:
Ideally, you could hover over a charge to view details or go to the show page. And from either an org page or charges index page, you could approve a charge (which should already be doable

[2017-03-02 03:51] arakla commented on #201
Just realized that for my Ajax comment, #213 covers it

[2017-03-02 17:56] pkoenig10 commented on #201
Agreed that AJAX is the right way to handle this.  Updating the approval workflow to use AJAX shouldn't be too much lift.

And ideally, in any workflow, we'd like to take the user back to the previous page, wherever that was.  That way we don't care what pages link where (because that will certainly change in the future).  Rails has the ability to go back to the previous page, although it might ta

[2017-03-02 22:10] ChaseBro commented on #201
Also we really need to just start actually implementing modals, raw rails makes that kind of hard, but we should figure it out regardless

[2017-03-04 22:14] eleanorwilson opened #235 "Shift Test - CI Fail"
Need to fix shift test, so that it doesn't fail the CI test. Works locally but consistently off by the same time when running it through CI
<img width="926" alt="screen shot 2017-03-04 at 5 14 17 pm" src="https://cloud.githubusercontent.com/assets/18669359/23582708/10f25966-00fe-11e7-8b44-ad545cc12f97.png">

[2017-03-06 02:42] eleanorwilson commented on #189
Bug fixed, refer to pull request #234

[2017-03-06 02:42] #189 closed

[2017-03-06 02:44] eleanorwilson commented on #199
Bug fixed for event okay/un-okay, refer to pull request #234

[2017-03-06 02:44] #199 closed

[2017-03-06 03:06] blinblinblin commented on #208
@arakla Could you be more descriptive of the problem? i.e. Does this happen on the charges page? Thanks!

[2017-03-06 03:16] pkoenig10 commented on #208
I'm pretty sure the issue @arakla noticed was as result of not accounting for the case when the is_approved scope for a charge is `nil`, rather than 'true' or 'false'.  See [app/models/charge.rb](https://github.com/sc0v/binder-app/blob/34770262de9cf4d4df2218fc88cc4205b67a41a1/app/models/charge.rb#L40-L41).

This is an issue that probably exists in multiple places (see my fix for another instance [

[2017-03-06 03:18] arakla commented on #208
I am referring to the charge overview view, which is located here: https://[Server]/charge_overview
The view is located here: binder-app/app/views/home/charge_overview.html.erb

As mentioned in #215, it is not referenced anywhere and is effectively just passed on by word of mouth (which is a separate issue).

[2017-03-07 01:45] pkoenig10 opened #240 "Investigate better way to input users"
Currently participants are entered into forms by entering either an Andrew ID, card swipe number, or card NFC number and then pressing enter or changing focus.  A search request is then made for that user and they are looked up in the DB. This difference between the model attribute value and the values entered into form fields, make user entry tricky.  It would nice to have a smoother workflow for

[2017-03-07 01:56] AkshayGoradia commented on #163
Fixed so that if an item is already in the cart, adding the same item again increments the quantity of that item in the cart, rather than creating a new entry.

[2017-03-07 01:56] #163 closed

[2017-03-07 02:05] blinblinblin commented on #202
I'm closing this issue since we established using placeholder value as a temporary solution works.

[2017-03-07 02:05] #202 closed

[2017-03-07 04:51] pkoenig10 commented on #163
Which PR fixed this?

[2017-03-07 04:53] blinblinblin commented on #163
@pkoenig10 I believe it's this: https://github.com/sc0v/binder-app/pull/237. As you said, we clustered it in a bunch of commits. In our next group meeting, we will address your point of making separate branches for each PR that we work on so that this does not happen again.

[2017-03-07 04:55] pkoenig10 commented on #163
@blinblinblin Thanks!

[2017-03-22 18:48] sclark commented on #235
Is there still a branch where this test is failing on the CI server?

[2017-03-22 19:38] sclark commented on #220
What do you think about this workaround?

[2017-03-22 19:43] sclark commented on #220
What do you think about this potential workaround?

[2017-03-22 20:49] pkoenig10 commented on #220
@sclark that mostly looks good. Can you open a PR and we can discuss there?

[2017-03-22 23:28] sclark commented on #220
@pkoenig10 yeah. I wanted to wait for our IS team to merge bug fixes and changes into master before opening PR's for new features, but I will soon.

[2017-03-22 23:43] sclark commented on #182
We discussed the potential for a soft limit on the tools of a certain type that orgs can checkout, but to mitigate tool hoarding, we are opting for a tool checkout time length after which orgs can renew the tools instead.

Our IS Team is looking into this new feature now, so I will close this issue.

[2017-03-22 23:47] sclark commented on #217
I talked with Andrew and we are not allowed to do this in binder.

There may still be something to be said for automatically generating reports for each org. Could you point me toward an example report in the 2016 Carnival drive folder?

[2017-03-22 23:48] sclark commented on #217
I talked with Andrew and we are not allowed to do this in binder.

There may still be something to be said for automatically generating reports for each org. @arakla, could you point me toward an example report in the 2016 Carnival drive folder?

[2017-03-22 23:55] pkoenig10 commented on #182
I'm not sure a time limit is the right solution.  That places a relatively large burden on SCC to hunt down tools when their time expires.  I think any solution with hard and fast rules (time limit, tool checkout limit, etc.) might be more work than it is worth.

I think an acknowledgement by the coordinator may be the best option because it doesn't add require any additional work, but surfaces th

[2017-03-23 00:44] arakla commented on #217
@sclark
So... Technically speaking, Student Activities can only speak to SA Orgs, unless different policies have been put in place with the creation of SLICE. The reason I say this is that all orcale strings are available to any authenticated user on the CMU finance website. Storing the Oracle strings makes more sense for all non-SA orgs.

Also, and please avoid mentioning this to SA staff, but ce

[2017-03-23 01:02] arakla commented on #220
@sclark
I'd say this works, the main other parts to this are what is in #240 and having a separate view where waiver and wristband status very clear. And by clear, I mean a random CMU staff member that has been trained in 1min or less can understand without training.

I suggest having another, similar, view designed for a tablet/touchscreen where looking up a user (Swipe, Tap, or type) will load a

[2017-03-23 02:13] sclark commented on #182
The renewal feature is part of a notification feature that would allow people to renew tools with a phone. We agreed to pilot the feature this year but we will be revisiting the issue after Carnival, where we can decide how well this solved the problem and can again consider the other solutions.

[2017-03-23 02:17] sclark commented on #220
@arakla thank's for the feedback. Since this refers to issue #240 I'm not sure we will have a working version before this Carnival, but I will talk to the IS team, and keep this issue open going forward.

[2017-03-23 02:22] sclark commented on #217
@arakla I did not know this about charging other orgs, but I will ask Zilei to see what functionality she wants going forward.

And okay I think I understand the report now, but an example would be helpful. When you get a chance, could you email it to me?

[2017-03-23 03:24] sclark commented on #173
@arakla @pkoenig10 Does this satisfy the waiver legal requirements you were concerned about?

[2017-03-23 04:56] sclark commented on #187
@pkoenig10 was this resolved by another commit or are you talking about how after logging out, when logging in again you are logged back in automatically?

[2017-03-23 14:37] sclark opened #244 "Binder text notifications"
Ideal notification events:
- When tool a person is on the waitlist for is returned
- Notify booth chairs when watch shift is more than 5 mins late
- Notify builders 30 mins before tool return time
  - For all tools the checkout time should be 4 hours
  - Allow for mobile renewal between 10pm and 10am
- Notify SCC group members when a note to them is created
- Notify Amalia and Andrew in case of an

[2017-03-23 14:38] sclark commented on #84
This is now a part of #244, so I will close the issue here.

[2017-03-23 14:38] #84 closed

[2017-03-23 14:40] sclark commented on #82
@merichar did you envision this as a per tool, per participant, or per organization view?

[2017-03-23 14:51] sclark commented on #92
@arakla @pkoenig10 I agree that there could be improvements made in how we populate the database and how participants join organizations, but

@ChaseBro is the original issue here still an issue since we only populate the db with AndrewID's that are publicly available on the directory anyways?

[2017-03-23 14:54] sclark commented on #150
This is also now a part of #244, so I will close this issue too.

[2017-03-23 14:54] #150 closed

[2017-03-23 15:24] sclark commented on #87
Since we collect the information with Google Forms, there is potential for making a Google Sheets script to make these assignments too. I will investigate both options as we get closer to Carnival this year.

[2017-03-23 15:34] sclark commented on #159
If we do this it may get confusing to have two different carts on the right sidebar, especially since we can scan tools into the sidebar cart, but would need to lookup store items on the binder main page anyways.

[2017-03-23 15:36] sclark commented on #159
We could combine the combine the carts into one, and preform the store and tool checkout at once together, but that may be getting too complicated.

@pkoenig10 thoughts?

[2017-03-23 17:06] sclark commented on #168
After running the db migration the fractional-store-prices branch builds in the CI.

[2017-03-23 17:07] sclark commented on #168
This should allow for fractional store prices, so I will close this issue.

I will submit a pull request for this and all the other new features after our IS team merges bug fixes into master.

[2017-03-23 17:07] #168 closed

[2017-03-23 18:19] ChaseBro commented on #159
That's actually kind of a slick idea, but I would keep them well separated in this new "uni-cart"

[2017-03-23 18:20] ChaseBro commented on #87
We should really just build this into the app, would make it much simpler if it was all self-serve for the Midway Chair right within Binder (and would make sure it doesn't get lost like Google docs tend to). Not to mention would allow for stuff like user auth and such

[2017-03-23 18:22] ChaseBro commented on #92
The real issue I think is that it takes too much technical know-how to populate Binder each year. Ideally this would all be productized and wouldn't A) require a full DB wipe every year and B) would make it easier to add people with their phone numbers and everything (especially Booth Chairs and SCC)

[2017-03-23 18:23] ChaseBro commented on #82
Ideally all 3? There should minimally be a history on the tool, but in a perfect world you should also be able to pivot on Org and User (in that order of priority I would say)

[2017-03-23 18:23] ChaseBro commented on #187
I think he means that if you log out of shibboleth but not out of Binder you stayed logged into Binder even though you shouldn't. Although not 100% sure

[2017-03-23 18:26] ChaseBro commented on #182
Renewing with a phone doesn't solve the issue of it being the Coordinator's responsibility to track down people. Also if you can renew with a phone then what does that really solve other than reminding people they have stuff checked out, and if that's the goal then let's just make it a reminder and get rid of the "renewal" portion

[2017-03-23 18:58] pkoenig10 commented on #187
Currently when you select "log out" in Binder you are logged out of Binder but not out of Shibboleth.  So a new user could go to Binder, revisit the page, and the new user would be automatically logged in as the previous user because the previous user is still logged in to Shibboleth.

This fixes the problem where coordinates are logged in as the previous coordinate, which makes our logging around

[2017-03-23 19:05] pkoenig10 commented on #187
I started working on this in the `fix_logout` branch.  I recall that in the current state it partially works; it worked sometimes but was a flaky.  I think that was mostly due to my lack of understanding about Rails routing and Shibboleth.

Some helpful links:
Shibboleth logout docs: https://docs.shib.ncsu.edu/docs/logout.html
SImilar workflow (ignore the Apache part): http://duke-libraries.github

[2017-03-23 19:11] blinblinblin commented on #235
I don't think so since we commented out the test. If you want to reproduce the error, you can always go to the unit test class for shift and re-comment the last test function.

[2017-03-23 19:34] sclark commented on #217
Aamer...you know better. It's andrew.

[2017-03-23 19:41] sclark commented on #217
![bitmoji](https://render.bitstrips.com/v2/cpanel/10216848-196926656_11-s4-v1.png?transparent=1&palette=1&width=246)

[2017-03-23 19:44] sclark commented on #217
ps...don't be mad at Stephen. You know I always  find everything out and I'm different than the rest of the staff so you're fine :) @arakla

[2017-03-23 21:54] pkoenig10 commented on #173
@sclark I think you would need to talk to someone in Student Activities to get their approval.

[2017-03-23 21:59] pkoenig10 commented on #168
@slclark you're fine to close this issue, just make sure to test this (any all new features) out in staging.

[2017-03-23 22:05] pkoenig10 commented on #159
I think mixing tools and store items would get too confusing.  Especially because the logic for those two actions is pretty different.

Honestly the sidebar is a better-but-not-great location for items like the carts and notes.  There is not nearly enough space.  What we really should have is dedicated, AJAX-powered, single-page interfaces for common workflows like purchasing items or checking out

[2017-03-23 22:12] pkoenig10 commented on #235
@blinblinblin can you guys fix the test before merging into master? Commenting out tests because they break the CI sort of defeats the purpose of having tests

[2017-03-23 22:27] eleanorwilson commented on #235
@pkoenig10 Yeah we will. We commented/opened a issue to remind ourselves because it's a very small error with server times but runs fine locally. We wanted to focus in on our scope and return to it after notification feature has been created.

[2017-03-24 01:33] sclark commented on #168
@pkoenig10 for sure. Will do.

[2017-03-24 01:40] sclark commented on #92
@ChaseBro fair point. We probably can't finish this before Carnival this year, but should be considered going forward.

[2017-03-24 01:43] sclark commented on #187
@pkoenig10 I will take a look and prioritize this over #82

[2017-03-24 01:46] sclark commented on #87
@ChaseBro we definitely do not have time to integrate this into Binder this year, but will consider it in the future. It sort of goes with #92.

[2017-03-24 01:48] sclark commented on #217
@arakla I am sorry! I told Andrew I was talking with you guys from past Carnivals and he snooped around my laptop when I left

[2017-03-24 01:52] sclark commented on #217
@arakla I am sorry! I told Andrew that some old members of SCC have some concerns and differing opinions about this years changes to Carnival and he snooped around my laptop when I left

[2017-03-24 05:22] sclark commented on #235
This test now passes on the CI server, so I am closing the issue.

[2017-03-24 05:22] #235 closed

[2017-03-24 10:31] pkoenig10 opened #249 "Prevent users from skipping video when signing waiver"
Temporary fix in #247.  Should create a more permanent solution that doesn't rely on a timer (which depends on the video length, which could change).

[2017-03-24 14:01] sclark commented on #182
The goal is to remind people of tools that they have checked out and prevent tool hoarding by increasing tool turnover.

Amalia and I have already discussed this with this years exec board and are moving forward with this plan. Like I said before, after carnival we will certainly revisit this issue and evaluate our implemented solution against other potential solutions, and make a decision from th

[2017-03-24 14:13] pkoenig10 commented on #182
Please don't close an issue until it has been resolved in the master branch. Just discussing an issue doesn't mean it's resolved because it's easy for things to be forgotten or overlooked. Even if this isn't the exact solution we want, it's useful to keep the issue open as long as the real-world problem still exists.

[2017-03-24 18:11] sclark commented on #182
Sorry, that is my fault! I meant to open a new issue that better captured the notification feature we want our IS team to work on this semester, but never did.

Instead of closing this issue by opening another, I will just adjust this issue to reflect the notifications feature we decided to implement this semester.

[2017-03-24 18:14] sclark commented on #182
This is now a sub-issue of issue #244

[2017-04-04 19:32] agotsis opened #255 "Text notification on addition to queue"
In line with #244 , I think there are applications for notifications on queue actions.

For me, I'd love to receive a text when someone is added to the electrical queue. As an extension, perhaps I could reply to clear an org from the queue, but I definitely care a whole lot more about receiving texts when Orgs are added to the Electrical queue.

Seems like there is already an infrastructure for th

[2017-04-09 21:49] arakla commented on #173
@sclark I'm back from being MIA
You'll need to work with Andrew and University Risk & the University General Counsel/Legal on this one
A digital signature is part of it, but you also need to validate DOB in case someone is a minor, we do a have a handful every year
The first step would be having them enter it, but even better would be pulling from the student data warehouse (SDW) - http://www.cmu.

[2017-04-09 22:02] arakla commented on #217
@sclark No worries!
So, for Andrew, 2 parts:
1) Student Activities & StuGov technically doesn't/can't set policies for what orgs can store as far as I know; Plus I am not saying to store SA strings, but non-SA strings as they don't change year to year and that way advisors for no SA orgs don't need to email back and forth to ensure the right string is updated. Furthermore, by having them verify th

[2017-04-09 22:03] arakla commented on #218
@sclark Since I can't re-open the issue, if this isn't covered by another one, can you please re-open it?

[2017-04-09 22:19] sclark commented on #217
Definitely. We will probably have to delay some of these features and bug fixes until at least after move on, but I would love to see those and hopefully help Zilei out by having these reports generated automatically.

[2017-04-09 22:23] sclark commented on #173
We have gotten approval for the waiver for this year, in fact people can start signing this tomorrow! But, I see what you are saying, and we should probably have this for next year.

[2017-04-09 22:30] sclark commented on #218
@arakla Sure thing. I don't think this is covered, so I'll re-open it.

[2017-04-09 22:40] sclark opened #256 "Tool waitlist text notification button?"
The function `notify` is run `after_update`, but is check in the only reason the model would be updated?

This is in reference to app/models/checkout.rb and #254.

[2018-04-05 02:33] timparenti commented on #159
Almost definitely too late for Carnival 2018 at this point, but echoing that having some sort of AJAX-powered cart for store items would certainly be the expectation.  Currently the store cart is stored globally across all sessions.  Although this isn't a problem in the general case that a single coordinator is operating from a single device at any given time, it should be possible for, say, anoth

[2018-04-06 23:05] sclark commented on #255
@agotsis Resolved by #271 ?

[2018-04-06 23:56] agotsis commented on #255
Agreed.

[2018-04-06 23:58] sclark commented on #255
Then I'll close this when #271 gets merged.

[2018-04-09 22:31] #255 closed

[2018-04-17 17:55] timparenti opened #276 "Store is increasingly brittle"
Started out as just drill bits, and has expanded over the week to most things.  Any item that has ever been sold cannot be added to the cart a second time.

Reported as Binder note 2018-04-16 15:18:

[2019-02-13 03:55] #276 closed

[2019-04-02 16:24] timparenti opened #298 "Make shift seeds timezone-aware."
After upgrading to Rails 5+, db/seeds.rb should probably use something like `Time.zone.strptime()` instead of `DateTime.strptime()` in order to create timestamps which are properly timezone-aware.  This should fix the recurring bug over the last few years which has caused the initially-seeded shifts to end up scheduled 4 hours earlier than desired, since `DateTime.strptime()` ends up interpreting

[2019-04-03 12:20] timparenti opened #300 "Bind cookies to app-year."
Beyond the hotfix in #299, the application should be configured to change how cookies are stored should change with each app-year.  It is not sufficient to simply use `Date.current.year` or similar in the cookie name, since the main problem manifests when users log in shortly _before_ the app is re-seeded each April, at which point user IDs change while the cookies do not.  However, there are many

[2019-04-03 13:58] timparenti commented on #300
Other potential solutions:
* Rotate some applicable internal key as part of the Carnival creation scripts
* Something around these lines:
  https://github.com/sc0v/binder-app/blob/55471b1628d2e1b49b8ac68e9e4d28b5c461665d/db/seeds.rb#L12-L13
  could more directly signal the relevant year and store it appropriately.

[2019-04-04 02:10] timparenti commented on #298
Leaving more breadcrumbs for later:

Once merged, this would also affect "Carnival creation"-style shift seeding in https://github.com/sc0v/binder-app/pull/294/commits/d09115986ba90b0d7b16c78e6c13f8ee7a555d0b as well as task seeding in https://github.com/sc0v/binder-app/pull/294/commits/4b8a0c502013e8942595f0668e025a7306a52632 (both from #294).

The only timestamps seeded into the database in this

[2019-04-06 23:21] timparenti opened #304 "Use Grouper for EH&S certifications."
Currently, if certifications are missing at the time of seeding, entire ToolTypes and ToolTypeCertifications for restricted checkouts are not automatically created, and must later be manually backfilled:
https://github.com/sc0v/binder-app/blob/e8ee4b27f8b9ec0874b25dc1b102ba5b2fb190ee/db/seeds.rb#L141-L170

For the future, avoid the scenario where delays in receiving or manually importing EH&S cert

[2019-04-26 18:49] timparenti commented on #300
Per today's meeting, once #294 is merged to keep participants bound to the same participant ID from year to year, this becomes far less of a problem.

Still, it's good hygiene to rotate the `SECRET_KEY_BASE` environment variable in `/etc/apache2/sites-enabled/003-binder-app-production.conf` when launching a new year's Carnival.

@Aklaran can add this to Carnival creation documentation in #294.